
/*盒子模型 Box Model***********************************************************/
/**
 * 将盒子模型宽度，高度，边框，外边距，内填充统一声明，按需使用，通常被重复用。
 *
 */
.b-w10{width:10px;}
.b-h100{height: 100px;}
.b-b1{border: 1px solid #000;}
.b-ml10{margin-left: 10px;}
.b-pr10{padding-right: 10px;}
.b-w0{width: 0 !important;}
.b-wa{width: auto !important;}
.b-h0{height: 0 !important;}
.b-ha{height: auto !important;}
.b-b0{border: 0 !important;}
.b-m0{margin: 0 !important;}
.b-p0{padding: 0 !important;}
.b-mt20{margin-top: 20px;}
.b-mb10{margin-bottom: 10px;}
.b-pr26{padding-right: 26px;}
.b-pl10{padding-left: 10px;}
.b-pl10{padding-left: 10px;}
.b-pt5{padding-top: 5px;}
.b-w-1{ float:left;}
[class^="b-w-"], [class*=" b-w-"]{
  float:left;
}
.b-w-1{width: 8.33333333%;}
.b-w-2{width: 16.66666667%;}
.b-w-3{width: 25%;}
.b-w-4{width: 33.33333333%;}
.b-w-5{width: 41.66666667%;}
.b-w-6{width: 50%;}
.b-w-7{width: 58.33333333%;}
.b-w-8{width: 66.66666667%;}
.b-w-9{width: 75%;}
.b-w-10{width: 83.33333333%;}
.b-w-11{width: 91.66666667%;}
