@mixin tags-variant($color) {
  color: $color;
  border-color: $color;
}

.u-tags{
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.u-tags-default{
  @include tags-variant(#999);
}
.u-tags-success{
  @include tags-variant(#09bb07);
}
.u-tags-danger{
  @include tags-variant(#e71e28);
}
