.w-form{
}
.form-group{
  padding:2px 0 10px;
  margin: 0;
  *zoom:1;
  &:after,&:before{
    content: "";
    display:table;
    clear:both;
  }
}
.control-label{
  float:left;
  text-align: right;
  height:34px;
  line-height:34px;
  padding-right: 20px;
  //padding: 6px 12px;
  width: 24%;
}
.control-content{
  float: left;
  width: 76%;
  position: relative;
  &.w5{
    width: 50%;
  }
}
.input-group{     // input 分组
  position: relative;
  .input-addon{
    position: absolute;
    top: 1px;
  }
  .input-addon:first-child{    // input之前
    left: 0;
  }
  .input-control + .input-addon{ // input之后
    right: 1px;
  }
  .u-btn.btn{
    height:100%;
    padding:0 10px;
    width: auto;
    line-height:100%;
    background: #038AE3;
    font-size:14px;
    color:#fff;
  }
}

.input-control{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  &.readonly{
    color: #555;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #eee;

  }
}
.input-control:focus,.t-focuse {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.has-error{
  .input-control{
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  .input-control:focus{
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  }
}
.has-warning{
  .input-control{
    color: #ff9600;
    border-color: #ff9600;
  }
}
textarea.input-control{
  height:auto;
}
.alert {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  &-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  &-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
}
//提示文字颜色
.text-warning {
  color: #ff8f00;
}
.text-danger {
  color: #e71e28;
}
.text-success {
  color: #45bf1f;
}
.text-primary {
  color: #337ab7;
}
.text-muted {
  color: #999999;
}
.text-orange {
  color: #ff9b28;
}
.text-red {
  color: #e71e28;
}
.text-default {
  color: #038AE3;
}
.text-link {
  color: #038ae3;
  //&:hover{
  //  color: #038ae3 !important;
  //}
}

.u-truncate-wrapper {
  //width: 90%;
  max-width: 100%;
  //max-width: 300px;
  position: relative;
}
// 字数过长变省略号
.u-truncate-text {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// caret
.u-caret-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #026ad0 transparent transparent transparent;
  display: inline-block;
  margin-left: 2px;
  top: -2px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.25s ease-in;
}
.u-caret-up {
  transform: rotate(180deg);
  transition: all 0.25s ease-out;
}
