<div class="simple-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="dialog">
        <div class="dialog-content">
            <div class="dialog-header" ng-show="dialog.dialogData.title">
                <button type="button" class="close" aria-label="Close" ng-click="$close('close')"><span aria-hidden="true">&times;</span></button>
                <h4 class="dialog-title" ng-bind="dialog.dialogData.title">Title</h4>
            </div>
            <div class="dialog-body">
                <div class="icon">
                    <i class="icon-{{dialog.dialogData.type}}"></i>
                </div>
                <div class="text" ng-bind-html="dialog.dialogData.content"></div>
            </div>
            <div class="dialog-footer" ng-show="dialog.dialogData.confirmButton || dialog.dialogData.cancelButton">
                <button type="button" class="u-btn u-btn-primary u-btn-sm" ng-show="dialog.dialogData.confirmButton" ng-click="$close('ok')">确认</button>
                <button type="button" class="u-btn u-btn-default u-btn-sm" ng-show="dialog.dialogData.cancelButton" ng-click="$close('cancel')">取消</button>
            </div>
        </div>
    </div>
</div>