.k-simple-editable{
  display: inline-block;
  vertical-align: middle;
  .editable{
    color: #337ab7;
    cursor: pointer;
  }
  .editable-panel{
    display: none;
    .input-control{
      position: relative;
      min-width: 150px;
    }
  }
  .editable-group{
    width: 100%;
    text-align: right;
    height: 20px;
    margin-top: -1px;
    button{
      display: inline-block;
      vertical-align: top;
      width: 30px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
      color: #e71e28;
      background-color: #fff;
      i{
        font-size: 14px;
      }
      &.confirm{
        border-right: 0;
        color: #337ab7;
      }
      &[disabled]{
        opacity: .7;
        filter: alpha(opacity=70);
        cursor: not-allowed;
      }
    }
  }
  &.open{
    position: absolute;
    z-index: 999;
    .editable-panel{
      display: block;
    }
    .editable{
      display: none;
    }
  }
}
