<div class="k-simple-editable" ng-form="" name="simpleEditable">
  <span class="editable" ng-click="open()"><i class="icon-pen"></i></span>
  <div class="editable-panel" ng-class="{'has-error': simpleEditable.editable.$error.numberRange}">
    <input type="text" class="input-control editable-input" placeholder="{{placeholder}}" cb-placeholder number-range="" value-min="{{min}}" value-max="{{max}}" value-step="{{step}}" name="editable" ng-model="newEditor"  data-range-enabled>
    <div class="editable-group"><button class="confirm" ng-click="confirm()" ng-disabled="simpleEditable.editable.$error.numberRange"><i class="icon-ok"></i></button><button class="cancel" ng-click="cancel()"><i class="icon-remove"></i></button></div>
  </div>
</div>
