{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "$": true,
    "_": true,
    "lodash": true,
    "module": true,
    "inject": true,
    "echarts": true,
    "userPermissionList": true
  }
}
