<ol class="k-breadcrumb">
  <li><a ui-sref="system.modpwd">系统管理</a></li>
  <li class="active">修改密码</li>
</ol>
<div class="g-view">
    <div class="container-fluid" style="width:60%;margin:50px auto 0">
      <div class="alert alert-warning col-sm-8 col-sm-offset-1">
        为了您的账号安全，请定期修改密码，并确保密码仅由自己使用。
      </div>
      <form name="passwordForm" class="form-horizontal" ng-submit="vm.submitBtn()" novalidate>
        <div class="form-group">
          <label for="inputPassword1" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>当前密码：</label>
          <div class="b-w-6">
            <input type="password"
                   class="input-control"
                   name="oldPassword"
                   ng-blur="vm.$change1 = true"
                   id="inputPassword1"
                   ng-required="true"
                   ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,30}$/"
                   ng-model="vm.form.oldPassword"
                   placeholder="当前密码">
            <div class="alert alert-danger" ng-if="vm.$change1 && passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">
              <p ng-if="passwordForm.oldPassword.$error.required">不能为空</p>
              <p ng-if="!passwordForm.oldPassword.$error.required && passwordForm.oldPassword.$error.pattern">密码不是6-30位</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword2" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>新密码：</label>
          <div class="b-w-6">
            <input type="password"
                   class="input-control"
                   id="inputPassword2"
                   ng-model="vm.form.newPassword"
                   placeholder="新密码"
                   name="password"
                   ng-required="true"
                   ng-blur="vm.$change2 = true"
                   ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,30}$/">
            <div class="alert alert-danger" ng-if="vm.$change2 && passwordForm.password.$dirty && passwordForm.password.$invalid">
              <p ng-if="passwordForm.password.$error.required">不能为空</p>
              <p ng-if="!passwordForm.password.$error.required && passwordForm.password.$error.pattern">密码不是6-30位</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>确认密码：</label>
          <div class="b-w-6">
            <input type="password"
                   class="input-control"
                   name="password2"
                   id="inputPassword3"
                   ng-blur="vm.$change3 = true"
                   ng-model="vm.form.$$confirm_password"
                   ng-required="true"
                   ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,30}$/"
                   cb-assert-same-as="vm.form.newPassword"
                   placeholder="确认密码">
            <div class="alert alert-danger" ng-if="!(passwordForm.password.$invalid) && vm.$change3 && passwordForm.password2.$dirty && passwordForm.password2.$invalid">
              <p ng-if="passwordForm.password2.$error.required">不能为空</p>
              <p ng-if="!passwordForm.password2.$error.required && passwordForm.password2.$error.same">确认密码和新密码不一致</p>
            </div>
          </div>
        </div>
        <div class="form-group f-tac">
            <button type="submit" class="u-btn u-btn-primary u-btn-lg" ng-disabled="passwordForm.$invalid" style="width:300px;margin:20px auto">保　存</button>
        </div>
      </form>
    </div>
</div>

