<div class="m-product-brand f-cb">

  <div class="brand-input">
    <div class="b-w-5">
      <input type="text" class="input-control" name="" ng-model="brand.brandname" ng-click="toggle()" ng-change="search()" ng-blur="getBrandname()" placeholder="请输入" ng-required="true" cb-placeholder cb-string-range value-max="10">
    </div>
    <!-- <span class="cancel" ng-if="brand.brandname && step == 2" ng-click="toggle()">取消编辑</span>-->
  </div>
  <div ng-if="folded && step !== 0" class="brand u-box-shadow">
    <!--<div class="brand-input">-->
      <!--<div class="b-w-5">-->
        <!--<input type="text" class="input-control" name="" ng-model="brand.brandname" ng-change="search()" ng-blur="getBrandname()" placeholder="请输入商品品牌名称" cb-placeholder cb-string-range value-max="20">-->
      <!--</div>-->
     <!--&lt;!&ndash; <span class="cancel" ng-if="brand.brandname && step == 2" ng-click="toggle()">取消编辑</span>&ndash;&gt;-->
    <!--</div>-->
    <div class="brand-header">
      <div class="brand-filter">
        <div class="initials" dg-click="filterIn($event, item)" selector="a" bindonce="initials">
          <a ng-repeat="item in initials" class="priamry-link" bo-text="item.text" ng-class="{'active': item.active}"></a>
        </div>

        <span class="brand-cancel" ng-click="closeItems()"><i class="icon-remove-circle"></i></span>
      </div>
    </div>

    <div class="brand-list">
      <ul class="f-cb" dg-click="select($event, item)" selector="li" bindonce="initials">
        <li ng-repeat="item in store | filter: params" ng-class="{'active': item.$active}" bo-title="item.cnname">
          <span bo-text="item.cnname"></span>
        </li>
      </ul>

    </div>
  </div>

  <div ng-if="isFocused && step === 0">
      <p style="color: red; margin-left: 5px;">&nbsp;&nbsp;&nbsp;请先选择商品类目</p>
  </div>
  <!--<div class="put-away" ng-if="!folded && pcateid.catename">
    <span ng-click="toggle()"><i ng-class="{false:'icon-arrow_up', true: 'icon-arrow_down'}[folded]"></i> 收起</span>
  </div>-->
</div>


