<ol class="k-breadcrumb">
  <li><a ui-sref="product.goods.list({page:1})">商品与服务</a></li>
  <li><a ui-sref="product.server.list({page:1})">服务管理</a></li>
  <li ng-if="!vm.isChange" class="active">新增服务</li>
  <li ng-if="vm.isChange" class="active">编辑服务</li>
</ol>
<!--<div class="g-view goods-add">
  <div class="container-fluid">
    <form class="form-horizontal" autocomplete="off" name="server" role="form" novalidate ng-if="vm.isLoadData">
      <div class="form-group">
        <label class="control-label"><span class="text-red"><i class="icon-required"></i></span>服务类目：</label>
        <div class="control-content">
          <div ng-if="!vm.isChange">
            <input type="hidden" name="scateid1" ng-required="true" ng-model="vm.dataBase.scateid1">
            <div ng-if="!vm.category.falg">
              <div class="radio-inline" ng-repeat="list in vm.category.store">
                <label>
                  <input type="radio" ng-change="vm.category.handler(vm.dataBase.scateid1)"
                         ng-model="vm.dataBase.scateid1" ng-value="list.id" style="top: 0;">
                  <span ng-bind="list.catename"></span>
                </label>
              </div>
              <a class="cancel f-curp" ng-if="vm.category.name && vm.stepState == 0"
                 ng-click="vm.category.toggle(false)">取消编辑</a>
            </div>
            <div class="m-product-category" ng-if="vm.category.name && vm.category.falg">
              <p bindonce=""><span ng-bind="vm.category.name"></span> <a class="f-curp"
                                                                         ng-click="vm.category.toggle(true)">编辑</a></p>
            </div>
          </div>
          <div ng-if="vm.isChange">
            <span ng-bind="vm.dataBase.scatename1"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"><span class="text-red"><i class="icon-required"></i></span>服务名称：</label>
        <div class="control-content">
          <div ng-if="vm.stepState == 0">
            请先选择类目
          </div>
          <div ng-if="vm.stepState > 0">
            <input type="hidden" name="scateid1" ng-required="true" ng-model="vm.dataBase.servername">
            <div server-category store="vm.serverName.store" servername="vm.dataBase" step="vm.stepState"
                 handler="vm.serverName.handler(data)"></div>
          </div>
          <div ng-if="vm.isServername && vm.stepState > 0">
            <span class="text-danger"><span ng-bind="vm.isServername.msg"></span>, 是否前往 </span><a class="f-curp" ng-click="vm.goServerEdit()">编辑</a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">服务编码：</label>
        <div class="control-content">
          <div class="b-w-5">
            <input type="text" class="input-control " name="code" ng-model="vm.dataBase.code"
                   placeholder="请输入服务编码" cb-placeholder cb-string-range value-max="20">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">服务简介：</label>
        <div class="control-content">
          <div class="b-w-5">
            <input type="text" id="goods_add_name" class="input-control" name="seodescription"
                   ng-model="vm.dataBase.abstracts" placeholder="请输入服务简介" cb-placeholder cb-string-range value-max="20">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">服务规格：</label>
        <div class="control-content">
          <div ng-if="vm.stepState < 2">
            <span>请先选择服务名称</span>
          </div>
          <div class="form-group" ng-if="vm.stepState > 1">
            <div class="m-product-attrs">
              <div class="product-items" draggable="true" drag-item="" drag-end="vm.dragItem(data)" ng-form="list" ng-repeat="item in vm.dataBase.serverSkus track by $index" bindonce="">
                <div class="product-item-sort">
                  <span class="toggle f-curp icon-arrow_up" ng-click="vm.sortItem(item, $index, -1)"></span>
                  <span class="toggle f-curp icon-arrow_down" ng-click="vm.sortItem(item, $index, 1)"></span>
                </div>
                <div class="product-item-action">
                  <div class="often"><label class="f-curp"><input type="checkbox" name="" ng-model="item.commonlyused"> 标记常用</label></div>
                  <div cb-switch checkstatus="item.status" ng-click="vm.statusItem(item)"></div>
                  <span class="icon-remove f-curp" style="color: red; margin: 0 10px;" ng-click="vm.removeItem(item, $index)"></span>
                  <span class="toggle f-curp" ng-class="{true:'icon-arrow-up', false: 'icon-arrow-down'}[item.$folded]"
                        ng-click="vm.togglItem(item)"></span>
                </div>
                <div class="product-item-mini f-cb" ng-if="!item.$folded">
                  <h4 class="sku-name f-fl">规格： <strong ng-bind="item.manualskuvalues"></strong></h4>
                  <div class="stock-price f-fr">工时费： <span class="price"
                                                           ng-bind="item.$servertimeprice | currency:'¥ '"></span>
                  </div>
                </div>
                <div class="product-item-full" ng-if="item.$folded">
                  <div class="form-group">
                    <label class="control-label"><span class="text-label-wrapper f-fr f-bc"><span class="text-red"><i class="icon-required"></i></span>规格：</span></label>
                    <div class="control-content">
                      <div class="b-w-5">
                        <input class="input-control" type="text" name="manualskuvalues"
                               ng-model="item.manualskuvalues" placeholder="请输入服务类型、方式、适用对象等" cb-string-range
                               value-max="20"
                               ng-required="true">
                      </div>
                    </div>
                  </div>
                  <div class="form-group f-cb">
                    <div class="form-group f-fl" style="width: 33%;">
                      <label class="control-label">工时：</label>
                      <div class="control-content">
                        <div ng-class="{'has-error': list.servertime.$error.numberRange}">
                          <input class="input-control" type="text" name="servertime"
                                 ng-model="item.servertime" number-range=""
                                 data-value-min="0"
                                 data-value-max="999.9"
                                 data-value-step="0.1"
                                 data-range-enabled
                                 maxlength="5"
                                 placeholder="请输入0～999范围工时" cb-placeholder ng-keyup="vm.servertimeprice(item)" ng-required="true">
                          <span class="text-danger" ng-if="list.servertime.$error.numberRange">工时超出上限</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group f-fl" style="width: 33%;">
                      <label class="control-label"><span class="text-red"><i class="icon-required"></i></span>单价：</label>
                      <div class="control-content">
                        <div ng-class="{'has-error': list.serverprice.$error.numberRange}">
                          <input class="input-control" type="text" name="serverprice" ng-model="item.serverprice"
                                 number-range=""
                                 data-value-min="0"
                                 data-value-max="999999.99"
                                 data-value-step="0.01"
                                 maxlength="9"
                                 data-range-enabled
                                 placeholder="请输入0～999999范围单价"
                                 cb-placeholder
                                 ng-keyup="vm.servertimeprice(item)"
                                 ng-required="true">
                          <span class="text-danger" ng-if="list.serverprice.$error.numberRange">单价超出上限</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group f-fl" style="width: 33%;">
                      <label class="control-label">工时费</label>
                      <div class="control-content">
                        <div>
                          <p class="text-border" ng-bind="item.$servertimeprice | currency:'¥ '"></p>
                          <span class="text-danger" ng-if="vm.exceedlimit">工时费超过100万将不会被添加</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">适用车型</label>
                    <div class="control-content">
                      <div>
                        <div style="width: 200px;position: relative;" class="text-border" ng-if="!item.motobrandids.length"
                             cb-vehicle-select="add" handler="vm.vehicleSelect(data, item)">添加适用车型<i class="icon-search"
                                                                                                     style="float: right;cursor: pointer"></i>
                        </div>
                        <div ng-if="item.motobrandids.length" cb-vehicle-show="edit" store="item.motobrandids"
                             handler="vm.vehicleShow(data, item)"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <label class="control-label">备注：</label>
                      <div class="control-content">
                        <div class="b-w-5 f-cb">
                          <input class="input-control" type="text" name="skudescription"
                                 ng-model="item.skudescription" placeholder="请输入备注" cb-string-range value-max="20">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                &lt;!&ndash;<label class="control-label">&nbsp;</label>&ndash;&gt;
                <div class="control-content">
                  <button class="u-btn u-btn-primary u-btn-sm" ng-click="vm.addItem()"
                          ng-disabled="server.list.$invalid || vm.exceedlimit">
                    + 新增规格
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">图片：</label>
        <div class="control-content">
          <div simple-image config="vm.uploadModel.config" image="vm.dataBase.mainphoto"
               upload-handler="vm.uploadModel.handler(data)"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">保修期(天)：</label>
        <div class="control-content">
          <div class="b-w-5">
            <input type="text" class="input-control" name="shelflife"
                   number-range="" maxlength="4" placeholder="请输入服务保修期范围0~9999天"
                   cb-placeholder
                   ng-model="vm.dataBase.shelflife">
            <div class="alert alert-danger"
                 ng-if="vm.dataBase.shelflife.length && server.shelflife.$dirty && server.shelflife.$error.cbNumberRange">
              请输入0～9999以内的整数
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="f-tac">
          <button type="button" class="u-btn u-btn-primary u-btn-lg" ng-click="vm.submitBack()"
                  ng-disabled="server.$invalid || vm.exceedlimit">保存并返回
          </button>
          　　
          <button type="button" class="u-btn u-btn-primary u-btn-lg" ng-click="vm.submitNewCopy()"
                  ng-disabled="server.$invalid || vm.exceedlimit">保存并新建
          </button>
          　　
          <button type="button" class="u-btn u-btn-disabled u-btn-lg"
                  cb-back-button="{'name':'product.server.list','params':{'page': 1}}"
                  data-router="product.goods.edit">
            返　回
          </button>
        </div>
      </div>
    </form>
  </div>
</div>-->

<div class="g-view goods-add">
    <div class="container-fluid">
        <form class="form-horizontal" autocomplete="off" name="server" role="form" novalidate ng-if="vm.isLoadData">
            <div class="form-group">
                <label class="event-title f-fl">服务编码：</label>
                <div class="event-content f-fl">
                    <div class="input-w-280">
                        <input type="text" class="input-control " name="code" ng-model="vm.dataBase.code"
                               placeholder="请输入" cb-placeholder cb-string-range value-max="20">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="event-title f-fl"><span class="text-danger"><i class="icon-required"></i></span>服务类目：</label>
                <div class="event-content f-fl">
                    <div ng-if="!vm.isChange">
                        <!--ng-if="!vm.isChange"-->
                        <input type="hidden" name="scateid1" ng-required="true" ng-model="vm.dataBase.scateid1" ng-required="true">
                        <div >
                            <!--ng-if="!vm.category.falg"-->
                            <div class="radio-inline" ng-repeat="list in vm.category.store">
                                <label>
                                    <!--ng-change="vm.category.handler(vm.dataBase.scateid1)"-->
                                    <input type="radio"
                                           ng-model="vm.dataBase.scateid1" ng-value="list.id" ng-change="vm.changeScateid1(vm.dataBase.scateid1)">
                                    <span ng-bind="list.catename"></span>
                                </label>
                            </div>
                            <!--<a class="cancel f-curp" ng-if="vm.category.name && vm.stepState == 0"
                               ng-click="vm.category.toggle(false)">取消编辑</a>-->
                        </div>
                        <!--<div class="m-product-category" ng-if="vm.category.name && vm.category.falg">
                            <p bindonce=""><span ng-bind="vm.category.name"></span> <a class="f-curp"
                                                                                       ng-click="vm.category.toggle(true)">编辑</a></p>
                        </div>-->
                    </div>
                    <div ng-if="vm.isChange" style="margin-top: 7px">
                        <input type="hidden" name="scateid1" ng-required="true" ng-model="vm.dataBase.scateid1">
                        <span ng-bind="vm.dataBase.scatename1"></span>
                    </div>
                    <!--<div ng-if="vm.isChange">
                        <span ng-bind="vm.dataBase.scatename1"></span>
                    </div>-->
                </div>
            </div>
            <div class="form-group">
                <label class="event-title f-fl"><span class="text-danger"><i class="icon-required"></i></span>服务名称：</label>
                <div class="event-content f-fl" >
                    <!--<div ng-if="vm.stepState == 0">
                        请先选择类目
                    </div>-->
                    <div class="f-fl input-w-280">
                        <input type="text"
                               name="servername"
                               class="input-control input-w-280" placeholder="请输入"
                               ng-model="vm.dataBase.servername"
                               ng-click="vm.category.handler($event,vm.dataBase.scateid1)"
                               cb-string-range
                               value-max="20"
                               maxlength="20"
                               ng-required="true"
                        >
                    </div>

                    <span class="text-danger f-fl" style="line-height: 34px;margin-left: 10px" ng-if="vm.showWarningTips && !vm.dataBase.scateid1 ">请选择服务类目</span>
                    <!--<div ng-if="vm.stepState > 0">-->
                    <!--show {{vm.showCategory}}-->
                    <div ng-if="vm.showCategory">
                        <input type="hidden" name="scateid2" ng-required="true" ng-model="vm.dataBase.servername" ng-required="true">
                        <div style="position: relative" class="category-wraper" server-category store="vm.serverName.store" servername="vm.dataBase" step="vm.stepState"
                             handler="vm.serverName.handler(data)"></div>
                    </div>
                    <div ng-if="vm.isServername && vm.stepState > 0">
                        <span class="text-danger"><span ng-bind="vm.isServername.msg"></span>, 是否前往 </span><a class="f-curp" ng-click="vm.goServerEdit()">编辑</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="event-title f-fl">服务简介：</label>
                <div class="event-content f-fl">
                    <div class="input-w-280">
                        <input type="text" id="goods_add_name" class="input-control" name="seodescription"
                               ng-model="vm.dataBase.abstracts" placeholder="请输入" cb-placeholder cb-string-range value-max="20">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="event-title f-fl">保修期(天)：</label>
                <div class="event-content f-fl">
                    <div class="input-w-280">
                        <input type="text" class="input-control" name="shelflife"
                               number-range="" maxlength="4" placeholder="0~9999"
                               cb-placeholder
                               ng-model="vm.dataBase.shelflife">
                        <div class="alert alert-danger"
                             ng-if="vm.dataBase.shelflife.length && server.shelflife.$dirty && server.shelflife.$error.cbNumberRange">
                            请输入0～9999以内的整数
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group f-cb" style="margin-top: 30px">
                <label class="event-title f-fl"><span class="text-danger"><i class="icon-required"></i></span>服务规格：</label>
                <!--<div class="control-content">
                    <div ng-if="vm.stepState < 2">
                        <span>请先选择服务名称</span>
                    </div>
                    <div class="form-group" ng-if="vm.stepState > 1">
                        <div class="m-product-attrs">
                            <div class="product-items" draggable="true" drag-item="" drag-end="vm.dragItem(data)" ng-form="list" ng-repeat="item in vm.dataBase.serverSkus track by $index" bindonce="">
                                <div class="product-item-sort">
                                    <span class="toggle f-curp icon-arrow_up" ng-click="vm.sortItem(item, $index, -1)"></span>
                                    <span class="toggle f-curp icon-arrow_down" ng-click="vm.sortItem(item, $index, 1)"></span>
                                </div>
                                <div class="product-item-action">
                                    <div class="often"><label class="f-curp"><input type="checkbox" name="" ng-model="item.commonlyused"> 标记常用</label></div>
                                    <div cb-switch checkstatus="item.status" ng-click="vm.statusItem(item)"></div>
                                    <span class="icon-remove f-curp" style="color: red; margin: 0 10px;" ng-click="vm.removeItem(item, $index)"></span>
                                    <span class="toggle f-curp" ng-class="{true:'icon-arrow_up', false: 'icon-arrow_down'}[item.$folded]"
                                          ng-click="vm.togglItem(item)"></span>
                                </div>
                                <div class="product-item-mini f-cb" ng-if="!item.$folded">
                                    <h4 class="sku-name f-fl">规格： <strong ng-bind="item.manualskuvalues"></strong></h4>
                                    <div class="stock-price f-fr">工时费： <span class="price"
                                                                             ng-bind="item.$servertimeprice | currency:'¥ '"></span>
                                    </div>
                                </div>
                                <div class="product-item-full" ng-if="item.$folded">
                                    <div class="form-group">
                                        <label class="control-label"><span class="text-label-wrapper f-fr f-bc"><span class="text-red"><i class="icon-required"></i></span>规格：</span></label>
                                        <div class="control-content">
                                            <div class="b-w-5">
                                                <input class="input-control" type="text" name="manualskuvalues"
                                                       ng-model="item.manualskuvalues" placeholder="请输入服务类型、方式、适用对象等" cb-string-range
                                                       value-max="20"
                                                       ng-required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group f-cb">
                                        <div class="form-group f-fl" style="width: 33%;">
                                            <label class="control-label">工时：</label>
                                            <div class="control-content">
                                                <div ng-class="{'has-error': list.servertime.$error.numberRange}">
                                                    <input class="input-control" type="text" name="servertime"
                                                           ng-model="item.servertime" number-range=""
                                                           data-value-min="0"
                                                           data-value-max="999.9"
                                                           data-value-step="0.1"
                                                           data-range-enabled
                                                           maxlength="5"
                                                           placeholder="请输入0～999范围工时" cb-placeholder ng-keyup="vm.servertimeprice(item)" ng-required="true">
                                                    <span class="text-danger" ng-if="list.servertime.$error.numberRange">工时超出上限</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f-fl" style="width: 33%;">
                                            <label class="control-label"><span class="text-red"><i class="icon-required"></i></span>单价：</label>
                                            <div class="control-content">
                                                <div ng-class="{'has-error': list.serverprice.$error.numberRange}">
                                                    <input class="input-control" type="text" name="serverprice" ng-model="item.serverprice"
                                                           number-range=""
                                                           data-value-min="0"
                                                           data-value-max="999999.99"
                                                           data-value-step="0.01"
                                                           maxlength="9"
                                                           data-range-enabled
                                                           placeholder="请输入0～999999范围单价"
                                                           cb-placeholder
                                                           ng-keyup="vm.servertimeprice(item)"
                                                           ng-required="true">
                                                    <span class="text-danger" ng-if="list.serverprice.$error.numberRange">单价超出上限</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f-fl" style="width: 33%;">
                                            <label class="control-label">工时费</label>
                                            <div class="control-content">
                                                <div>
                                                    <p class="text-border" ng-bind="item.$servertimeprice | currency:'¥ '"></p>
                                                    <span class="text-danger" ng-if="vm.exceedlimit">工时费超过100万将不会被添加</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">适用车型</label>
                                        <div class="control-content">
                                            <div>
                                                <div style="width: 200px;position: relative;" class="text-border" ng-if="!item.motobrandids.length"
                                                     cb-vehicle-select="add" handler="vm.vehicleSelect(data, item)">添加适用车型<i class="icon-search"
                                                                                                                             style="float: right;cursor: pointer"></i>
                                                </div>
                                                <div ng-if="item.motobrandids.length" cb-vehicle-show="edit" store="item.motobrandids"
                                                     handler="vm.vehicleShow(data, item)"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">备注：</label>
                                            <div class="control-content">
                                                <div class="b-w-5 f-cb">
                                                    <input class="input-control" type="text" name="skudescription"
                                                           ng-model="item.skudescription" placeholder="请输入备注" cb-string-range value-max="20">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                &lt;!&ndash;<label class="control-label">&nbsp;</label>&ndash;&gt;
                                <div class="control-content">
                                    <button class="u-btn u-btn-primary u-btn-sm" ng-click="vm.addItem()"
                                            ng-disabled="server.list.$invalid || vm.exceedlimit">
                                        + 新增规格
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="event-content f-fl f-cb" style="width: 100%;padding-left: 150px;position: relative;top: -25px;">
                    <table class="" style="width: 100%;min-width: 790px;border: 1px solid #eee;" >
                        <thead>
                            <tr>
                                <td></td>
                                <td style="min-width: 120px"><span class="text-danger"><i class="icon-required"></i></span>规格</td>
                                <td style="min-width: 120px" class="f-tar"><span class="text-danger"><i class="icon-required"></i></span>服务费</td>
                                <td style="min-width: 200px">适用车型</td>
                                <td style="min-width: 120px">备注</td>
                                <td style="min-width: 90px">启用停用</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-dragstart = "vm.changeCursor(item)"  ng-class="{'isdrag':item.isDrag}" ng-repeat="item in vm.dataBase.serverSkus track by $index" draggable="true" drag-item="" drag-end="vm.dragItem(data)">
                                <td class="f-tac" ng-click="vm.removeItem(item, $index)"><span class="icon-trash"></span></td>
                                <td>
                                    <div class="input-w-280">
                                        <input type="text" class="input-control" ng-change="vm.checkManualskuesEmpty(item)" ng-class="{'has-error':item.$manualskuvaluesEmpty}" ng-model="item.manualskuvalues"  placeholder="请输入服务类型、方式、适用对象等" cb-string-range value-max="20">
                                    </div>
                                </td>
                                <td class="f-tar">
                                    <input  type="text" class="input-control f-fr f-tar" ng-class="{'has-error':item.$serverpriceEmpty}" ng-model="item.serverprice" number-range style="width: 100px;" placeholder="0~999999"
                                           data-value-min="0"
                                           data-value-max="999999.99"
                                           data-value-step="0.01"
                                           maxlength="9"
                                           data-range-enabled
                                            ng-blur="vm.checkPrice(item)"
                                            ng-change="vm.checkPriceEmpty(item)">
                                </td>
                                <td class="edit-motor" style="position: relative">


                                            <!--<p ng-if="!item.motobrandids.length" style="display: inline-block;margin-right: 10px">全部车型</p>
                                            <div class="u-btn-link" style="position: relative;display: inline-block;cursor: pointer" ng-if="!item.motobrandids.length"
                                                 cb-vehicle-select="add" handler="vm.vehicleSelect(data, item)">编辑
                                            </div>
                                            <div ng-if="item.motobrandids.length" cb-vehicle-show="edit" store="item.motobrandids"
                                                 handler="vm.vehicleShow(data, item)"></div>-->
                                    <!--{{item.motobrandids}}-->
                                            <span ng-if="!item.motobrandids.length">
                                                <span style="display: inline-block; min-width: 90px;">全部车型</span>
                                                <span class="text-primary vehicle-edit" cb-vehicle-select="add" handler="vm.vehicleShow(data,item)"> <i class="caret" style="color: #666;"></i></span>
                                            </span>
                                            <div ng-if="item.motobrandids.length">
                                                <div class="f-fl" style="width: 90px;">
                                                    <ul >
                                                        <li class="f-fl" ng-repeat="keys in item.motorsList | limitTo : 3" >
                                                            <!--{{item.motobrandids}}-->
                                                            <img width="30px" ng-src="{{keys.brand.logo}}" alt="" cb-popover="" popover-placement="left" popover-template-id="vehicleShowTemplate.html" popover-template-data="keys" popover-animation="false">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span ng-click="vm.showdrop(item,$event)" style="position: relative;top: -5px;left: 5px;"><i class="caret" style="color: #666;"></i></span>
                                                <div class="drop-part" style="" ng-if="vm.showSelectDrop && item.$current ">
                                                    <ul class="f-cb">
                                                        <li class="f-fl" ng-repeat="keys in item.motorsList">
                                                            <img width="30px" ng-src="{{keys.brand.logo}}" alt="" cb-popover="" popover-placement="left" popover-template-id="vehicleShowTemplate.html" popover-template-data="keys" popover-animation="false">
                                                        </li>
                                                    </ul>
                                                    <p class="u-btn-link edit-btn" cb-vehicle-select="add" handler="vm.vehicleShow(data, item)" select="item.motobrandids">编辑</p>
                                                    <span class="caret"></span>
                                                </div>
                                            </div>


                                </td>
                                <td>
                                    <div><input type="text" class="input-control" ng-model="item.skudescription" placeholder="请输入" cb-string-range value-max="10"></div>
                                </td>
                                <td>
                                    <div cb-switch checkstatus="item.status" ng-click="vm.statusItem(item)"></div>
                                </td>
                            </tr>

                            <tr>
                                <td class="f-tac" colspan="6" ng-if="!(vm.isServername && vm.stepState > 0)">
                                    <a class="f-tac u-btn-link" ng-click="vm.addItem()" style="cursor: pointer" >+添加规格</a>
                                </td>
                                <td class="f-tac" colspan="6" ng-if="(vm.isServername && vm.stepState > 0)">
                                    <a class="f-tac u-btn-link" cb-popover popover-placement="top" popover-template-id="addSku-tips.html" popover-animation="false" style="cursor: pointer" ng-if="(vm.isServername && vm.stepState > 0)">+添加规格</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="add-pic">

                <div>
                    <div simple-image config="vm.uploadModel.config" image="vm.dataBase.mainphoto"
                         upload-handler="vm.uploadModel.handler(data)" delete-handler="vm.uploadModel.deleteHandler(data)"></div>
                </div>
            </div>

            <div class="form-group" style="margin: 20px 0 0 145px;">
                <label class="event-title f-fl"> </label>
                <div class="event-content f-fl">
                    <button type="button" class="u-btn u-btn-primary u-btn-sm" ng-click="vm.submitBack()"
                            ng-disabled="server.$invalid || vm.isServername">保存并返回
                    </button>
                    　　
                    <button type="button" class="u-btn u-btn-primary u-btn-sm" ng-click="vm.submitNewCopy()"
                            ng-disabled="server.$invalid || vm.isServername">保存并新建
                    </button>
                    　　
                    <button type="button" class="u-btn u-btn-cancel u-btn-sm"
                            cb-back-button="{'name':'product.server.list','params':{'page': 1}}"
                            data-router="product.goods.edit">
                        返　回
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/ng-template" id="addSku-tips.html">
    <p>该服务与现有服务重名，无法添加规格。</p>
</script>

<script type="text/ng-template" id="vehicleShowTemplate.html">
    <div>
        <dl>
            <dt><span>适用品牌：</span><span ng-bind="templateData.brand.brand"></span></dt>
            <dd>
                <span class="f-fl">适用车系：</span><span class="f-fl" ng-if="!templateData.series">全系通用</span>
                <ul class="f-fl list-unstyled" style="margin: 0;padding: 0;" ng-if="templateData.series">
                    <li ng-repeat="keys in templateData.series">
                        <span ng-bind="keys.series"></span>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</script>
