<ol class="k-breadcrumb">
  <li><a ui-sref="user.customer.list({page:1})">会员中心</a></li>
  <li><a ui-sref="user.customer.list({page:1})">会员管理</a></li>
  <li class="active">新增会员</li>
</ol>
<br>
<div class="container-fluid user-customer-change">
  <form class="form-horizontal" autocomplete="off" name="customer" role="form" novalidate ng-if="vm.isLoadData">
    <div>
      <div class="form-group">
        <label class="control-label"><span class="text-danger"><i class="icon-required"></i></span>姓名：</label>
        <div class="control-content w5">
          <input type="text" class="input-control" name="realname" ng-model="vm.dataBase.realname"
                 placeholder="请输入会员姓名" cb-placeholder="" ng-required="true" cb-string-range value-max="10">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">性别：</label>
        <div class="control-content w5">
          <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" ng-model="vm.dataBase.gender" value="1">
              男
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" ng-model="vm.dataBase.gender" value="0">
              女
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">手机号：</label>
        <div class="control-content w5">
          <p class="input-control readonly" style="border: none; background: none; box-shadow: none;" ng-bind="vm.dataBase.mobile | numberFormatFilter"></p>
        </div>
      </div>
      <div class="form-group" ng-if="vm.dataBase.guid">
        <label class="control-label">会员等级：</label>
        <div class="control-content w5">
          <div simple-select="guid,gradename" store="vm.storegrade" select="vm.dataBase.storegrade"></div>
        </div>
      </div>
      <div class="form-group" ng-if="vm.dataBase.guid">
        <label class="control-label">关注状态：</label>
        <div class="control-content w5">
          <p class="input-control readonly" ng-bind="vm.dataBase.followed | formatStatusFilter :'followed'"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">公司名称：</label>
        <div class="control-content w5">
          <input type="text" class="input-control" name="username" ng-model="vm.dataBase.companyname"
                 placeholder="请输入会员公司名称" cb-placeholder="" cb-string-range value-max="20">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">备注：</label>
        <div class="control-content w5">
          <input type="text" class="input-control" name="username" ng-model="vm.dataBase.remark" cb-string-range value-max="20"
                 placeholder="请输入会员备注" cb-placeholder="">
        </div>
      </div>
    </div>
    <div ng-if="vm.isLoadData">
      <div class="form-group">
        <label class="control-label">车辆信息：</label>
        <div class="control-content">
          <ul class="list-inline licence-list" dg-click="vm.currentSelect($event, item)" selector="li .list">
            <li ng-repeat="item in vm.dataLists" ng-class="{'active': item.$current}">
              <div class="list">
                <div class="logo">
                  <img ng-src="{{item.$logo}}" alt="">
                  <span class="imeienabled" ng-class="{'imeienabled1': item.imeienabled == 1, 'imeienabled0': item.imeienabled == 0, 'imeienabledno': !item.imei && !item.imeienabled}"></span>
                </div>
                <p class="licence" ng-bind="item.licence"></p>
              </div>
            </li>
            <li>
              <div class="add" user-add-vehicle-dialog="add" item="" item-handler="vm.vehicleHandler(data)" title="添加新车">
                <span class="icon-plus"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row form-horizontal" ng-if="vm.item">
        <div class="form-group">
          <label class="control-label"><span class="text-danger"><i class="icon-required"></i></span>车牌号：</label>
          <div class="control-content w5">
            <input type="text" style="display: none;" ng-model="vm.item.licence" ng-pattern="/^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}\s[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$/" name="licence" ng-required="true">
            <div cb-select-license="required" update-licence="vm.updateLicence(data)" select="vm.item.licence"></div>
            <div class="alert alert-danger" ng-if="customer.licence.$error.pattern">车牌号不正确</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label"><span class="text-danger"><i class="icon-required"></i></span>选择车辆：</label>
          <div class="control-content w5">
            <input type="hidden" ng-model="vm.item.model" name="model" ng-required="true">
            <p class="input-control readonly"><span ng-bind="vm.item.model"></span> <i user-add-vehicle-dialog="edit" item="vm.item" item-handler="vm.vehicleHandler(data)" class="icon-search" style="float: right;cursor: pointer"></i></p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">VIN码：</label>
          <div class="control-content w5">
            <input type="text" class="input-control" name="realname" ng-model="vm.item.vin"
                   placeholder="请输入VIN码" cb-placeholder="" cb-string-range value-max="17">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">发动机号：</label>
          <div class="control-content w5">
            <input type="text" class="input-control" name="realname" ng-model="vm.item.enginenumber"
                   placeholder="请输入发动机号" cb-placeholder="" cb-string-range value-max="20">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">当前里程（km）：</label>
          <div class="control-content w5">
            <input type="text" class="input-control" name="realname" ng-model="vm.item.totalmile" maxlength="9"
                   placeholder="请输入当前里程" cb-placeholder="" number-range="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">剩余保养里程（km）：</label>
          <div class="control-content w5">
            <input type="text" class="input-control" name="countdownmiles" ng-model="vm.item.countdownmiles" maxlength="9"
                   placeholder="请输入剩余保养里程" cb-placeholder="" number-range="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">购车日期：</label>
          <div class="control-content w5">
            <div cb-datepicker="" is-open="vm.date1.opened" datepicker-options="vm.date1.options" datepicker-open="vm.date1.open()" datepicker-model="vm.item.buydate"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">上次年检日期：</label>
          <div class="control-content w5">
            <div cb-datepicker="" is-open="vm.date2.opened" datepicker-options="vm.date2.options" datepicker-open="vm.date2.open()" datepicker-model="vm.item.lastcheckdate"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">保险公司：</label>
          <div class="control-content w5">
            <div simple-select="id,companyname" store="vm.insuranceModel.store" select="vm.item.insuranceid"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">保险购买日期：</label>
          <div class="control-content w5">
            <div cb-datepicker="" is-open="vm.date3.opened" datepicker-options="vm.date3.options" datepicker-open="vm.date3.open()" datepicker-model="vm.item.lastinsurancedate"></div>
          </div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <div class="f-tac  b-pb60">
        <button type="button" class="u-btn u-btn-primary u-btn-lg" style="width: 300px" ng-disabled="customer.$invalid" ng-click="vm.submitBtn()">保　存</button>
      </div>
    </form>
  </div>

</div>
