<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)" aria-hidden="true">&times;</button>
    <h5 class="modal-title">选择车辆</h5>
  </div>
  <div class="modal-body">
    <div simple-select-vehicle="" select="select"></div>
  </div>
  <div class="modal-footer">
    <div class="inline-block f-tac">
      <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" ng-disabled="!select.modelid">确　定</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">取　消</button>
    </div>
  </div>
</div>
