<div class="viewFramework-simple-grid-interceptor">
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)" aria-hidden="true">&times;</button>-->
        <!--<h5 class="modal-title" ng-bind="config.title"></h5>-->
    <!--</div>-->
    <div class="modal-body form-horizontal text-cont">
        <!--<div class="icon confirm"></div>-->
        <!--<div class="{{config.messageClass}}" ng-bind-html="config.message"></div>-->
        <div class="title" ng-bind-html="config.message"></div>
        <div class="button-container">
            <button class="u-btn u-btn-primary" ng-click="confirm()" ng-bind="config.confirmText"></button>　　
            <button class="u-btn u-btn-cancel" ng-click="close(false)" ng-bind="config.closeText"></button>
        </div>
    </div>
    <!--<div class="modal-footer">-->
        <!--<div class="inline-block f-tac">-->
            <!--<button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" ng-bind="config.confirmText"></button>　　-->
            <!--<button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)" ng-bind="config.closeText"></button>-->
        <!--</div>-->
    <!--</div>-->
</div>
