<ol class="k-breadcrumb">
    <li><a ui-sref="markting.jksendrecorde.list({page:1})">营销中心</a></li>
    <li class="active">积客券领取记录</li>
</ol>

<div class="g-view jk-record jk-coupon-list u-outter-container">
    <div class="special-table u-inner-container">
        <div class="top-part" cb-access-control="chebian:store:markting:jk:sendrecorde:view" simple-search config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)"></div>
        <!--<div class="body-part" ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList"-->
             <!--pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState"-->
             <!--config="vm.gridModel.config"  sort-changed="vm.gridModel.sortChanged(data)" page-changed="vm.gridModel.pageChanged(page)"></div>-->
        <div class="body-part" ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList"
             loading-state="vm.gridModel.loadingState"
             config="vm.gridModel.config"  sort-changed="vm.gridModel.sortChanged(data)"></div>
        <div class="u-pagination" simple-pagination previous-text="&lt;" next-text="&gt;" config="vm.gridModel.config"
             on-select-page="vm.gridModel.pageChanged(page)" pagination-info="vm.gridModel.paginationinfo"
             rotate="false" boundary-link-numbers="true" force-ellipses="true" show-page-goto="true"></div>
    </div>
</div>
