<div class="day">
  <table class="grid">
    <thead>
    <tr>
      <th><button class="u-btn u-btn-default" ng-click="datepicker.move(-1, $event)">&lt;</button></th>
      <th colspan="5"><button class="u-btn u-btn-default" ng-click="datepicker.toggleMode(1, $event)"><strong ng-bind="title"></strong></button></th>
      <th><button class="u-btn u-btn-default" ng-click="datepicker.move(1, $event)">&gt;</button></th>
    </tr>
    <tr>
      <th ng-repeat="label in weekList track by $index" bindonce><small bo-text="label"></small></th>
    </tr>
    </thead>
    <tbody dg-click="datepicker.select(cols, $event)" selector="button">
    <tr ng-repeat="row in rows track by $index">
      <td ng-repeat="cols in row track by $index"><button class="u-btn u-btn-default" ng-class="{'u-btn-info current': cols.current, 'u-btn-success': cols.selected, 'active': cols.secondary}" ng-disabled="cols.disabled">
        <span><strong ng-bind="cols.label"></strong></span><br>
        <span><small ng-bind="cols.lunar"></small></span>
      </button></td>
    </tr>
    </tbody>
  </table>
</div>
