<ol class="k-breadcrumb">
  <li><a ui-sref="member.employee.list({page:1})">人员管理</a></li>
  <li class="active">权限管理</li>
</ol>
<div class="g-view u-outter-container member-emplyee-list">
    <div class="member-emplyee-container u-inner-container">
      <div cb-access-control="chebian:store:member:role:view" simple-search config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)"></div>
      <!--<div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config" page-changed="vm.gridModel.pageChanged(page)"></div>-->
      <div ng-if="vm.gridModel.columns.length" simple-grid
           columns="vm.gridModel.columns"
           store="vm.gridModel.itemList"
           loading-state="vm.gridModel.loadingState"
           config="vm.gridModel.config"></div>
        <div ng-if="vm.gridModel.itemList" class="u-pagination" simple-pagination previous-text="&lt;" next-text="&gt;" config="vm.gridModel.config"
             on-select-page="vm.gridModel.pageChanged(page)" pagination-info="vm.gridModel.paginationinfo"
             rotate="false" boundary-link-numbers="true" force-ellipses="true" show-page-goto="true"></div>
    </div>
</div>
