.w-tabs{
  padding-left: 14px;
  .tabs-nav{
    li{
      position: relative;
      display: block;
      float: left;
      margin-bottom: -1px;
      &.active a{
        color: #333;
        cursor: default;
        background-color: #fff;
        border-bottom-color: #038ae3;
      }
    }
    a{
      font-size: 18px;
      //font-weight: bold;
      font-family: 'Arial', 'Microsoft YaHei';
      color: #333;
      position: relative;
      text-decoration: none;
      display: block;
      padding: 12px 15px;
      margin-right: 2px;
      line-height: 1.42857143;
      border-bottom: 2px solid transparent;
      &:hover{
        text-decoration: none;
      }
    }
    &.nav-stacked{
      li{

      }
    }
    border-bottom: 1px solid #ddd;
  }
  .tabs-content{

  }
}
