<div class="alert alert-warning">
  <p>
    <i></i>请仔细填写您的结算银行信息，提交后将无法修改
  </p>
  <p>
    <i></i>您的银行账户信息有更改，请联系平台 <span class="text-danger">400-1234-111</span> 修改进行。
  </p>
</div>
<form name="passwordForm" class="form-horizontal" autocomplete="off" ng-submit="vm.submitBtn()" novalidate ng-if="vm.loadStatus && vm.onceSubmit" style="min-height: 400px">
  <div class="form-group">
    <label for="inputPassword1" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>银行名称</label>
    <div class="b-w-5">
      <input type="hidden" name="bank" ng-model="vm.dataBase.bankid" ng-required="true">
      <div simple-select="id,bankname,logo" store="vm.binkStore" select="vm.dataBase.bankid"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>开户支行</label>
    <div class="b-w-5">
      <input type="text"
             class="input-control"
             id="inputPassword2" cb-string-range="vm.dataBase.bankfullname"
             ng-model="vm.dataBase.bankfullname"
             placeholder="示例：中国xx银行xx分行xx支行xx分理处"
             name="password"
             value-max="100"
             ng-required="true">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>开户名</label>
    <div class="b-w-5">
      <input type="text"
             class="input-control"
             name="password2"
             id="inputPassword3"
             ng-model="vm.dataBase.accountname"
             ng-required="true"
             placeholder="开户名">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="b-w-3 control-label"><span class="text-red"><i class="icon-required"></i></span>账号</label>
    <div class="b-w-5">
      <input type="text"
             class="input-control"
             name="oldPassword"
             id="inputPassword1"
             ng-model="vm.dataBase.accountkey"
             ng-required="true"
             placeholder="账号" ng-pattern="/(^\d{16}$)|(^\d{19}$)/">
    </div>
  </div>
  <div class="row form-group" ng-if="vm.dataBase.$isRegtype">
    <div class="row b-w-7 col-md-offset-2">
      <div simple-image config="vm.uploadModel.config" image="vm.dataBase.license" upload-handler="vm.uploadModel.handler(data)"></div>
    </div>

  </div>
  <div class="form-group">
    <br>
    <br>
    <div class="f-tac">
      <button type="submit" class="u-btn u-btn-primary u-btn-lg" style="width: 300px" ng-disabled="passwordForm.$invalid">保　存</button>
    </div>
  </div>
</form>
<div class="form-horizontal" ng-if="vm.loadStatus && !vm.onceSubmit">
  <div class="form-group">
    <label for="inputPassword1" class="b-w-2 control-label">银行名称</label>
    <div class="b-w-7">
      <div class="text-border" ng-bind="vm.dataBase.bankname"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="b-w-2 control-label">开户支行</label>
    <div class="b-w-7">
      <div class="text-border" ng-bind="vm.dataBase.bankfullname"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="b-w-2 control-label">开户名</label>
    <div class="b-w-7">
      <div class="text-border" ng-bind="vm.dataBase.accountname"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="b-w-2 control-label">账号</label>
    <div class="b-w-7">
      <div class="text-border" ng-bind="vm.dataBase.accountkey"></div>
    </div>
  </div>
</div>
