<div class="viewFramework-shop-home-settings-telephone-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)"
            aria-hidden="true">&times;</button>
    <h5 class="modal-title">设置客服电话</h5>
  </div>
  <div class="modal-body">
    <!--<div class="alert alert-warning">可以输入400，800，区号+座机，手机</div>-->
    <div>
      <form class="form-horizontal" novalidate name="tel">
        <div class="form-group">
          <label for="telephone" class="b-w-3 control-label">客服电话：</label>
          <div class="b-w-8">
            <input type="text" class="input-control" name="phone" id="telephone" autocomplete="off"
                   ng-model="telephone"
                   ng-required="true"
                   cb-telephone-range>
          </div>
        </div>
        <div class="alert alert-danger" ng-if="tel.phone.$invalid">
          <p ng-if="tel.phone.$error.required">不能为空</p>
          <p ng-if="!tel.phone.$error.required && tel.phone.$error.telephoneAll && tel.phone.$error.telephone400">400电话格式不对</p>
          <p ng-if="!tel.phone.$error.required && tel.phone.$error.telephoneAll && tel.phone.$error.telephone800">800电话格式不对</p>
          <p ng-if="!tel.phone.$error.required && tel.phone.$error.telephoneAll && tel.phone.$error.telephonePhone">手机号码格式不对</p>
          <p ng-if="!tel.phone.$error.required && tel.phone.$error.telephoneAll && tel.phone.$error.telephoneFixed">固定座机电话格式不对</p>
          <p ng-if="!tel.phone.$error.required && tel.phone.$error.telephoneAll && !tel.phone.$error.telephone400 && !tel.phone.$error.telephone800 && !tel.phone.$error.telephonePhone && !tel.phone.$error.telephoneFixed">输入不是400，800，区号+座机，手机格式号码</p>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <!--<div class="alert alert-danger" ng-if="interceptor">-->
      <!--<p>修改客服电话，会影响用户查看，您确定要修改吗？</p>-->
    <!--</div>-->
    <div class="inline-block f-tac" ng-if="interceptor">
      <button class="u-btn u-btn-warning u-btn-sm" ng-click="interceptorConfirm()">确定设置</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">暂不设置</button>
    </div>
    <div class="inline-block f-tac" ng-if="!interceptor">
      <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" ng-disabled="tel.phone.$invalid">确　定</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">取　消</button>
    </div>
  </div>
</div>
