<div class="viewFramework-shop-home-settings-hours-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)" aria-hidden="true">&times;</button>
    <h5 class="modal-title">设置营业时间</h5>
  </div>
  <div class="modal-body">
      <div class="row f-cb">
        <div class="b-w-5 time-ml">
          <div class="f-fr"><div cb-timepicker ng-model="hours.start" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div></div>

        </div>
        <div class="b-w-1 time-connect">至</div>
        <div class="b-w-5 time-ml">
          <div cb-timepicker ng-model="hours.end" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
      </div>
    <div class="alert alert-danger" ng-if="hours.start >= hours.end">
      <p>歇业时间不能小于或等于开业时间</p>
    </div>
  </div>
  <div class="modal-footer">
    <!--<div class="alert alert-danger f-tal" ng-if="interceptor">-->
      <!--<p>修改营业时间，会影响用户查看店铺，您确定要修改吗？</p>-->
    <!--</div>-->
    <div class="inline-block f-tac" ng-if="interceptor">
      <button class="u-btn u-btn-warning u-btn-sm" ng-click="interceptorConfirm()">确定设置</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">暂不设置</button>
    </div>
    <div class="inline-block f-tac" ng-if="!interceptor">
      <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" ng-disabled="hours.start >= hours.end">确　定</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">取　消</button>
    </div>
  </div>
</div>
