<div class="k-vehicle-show">
  <div class="brand-box" ng-class="{'show': isOpen}">
    <ul class="list-inline list">
      <li ng-repeat="keys in list | limitTo : length">
        <img ng-src="{{keys.brand.$logo}}" alt="" cb-popover="" popover-placement="left" popover-template-id="vehicleShowTemplate.html" popover-template-data="keys" popover-animation="false">
      </li>
    </ul>
    <span class="text-primary vehicle-edit" cb-vehicle-select="edit" select="store" handler="vehicleShow(data)">编辑</span>
    <span class="vehicle-opend icon-updown" ng-class="{'dropup': isOpen}" ng-click="opend()"><i class="caret" style="color: #666;"></i></span>
  </div>
</div>
<script type="text/ng-template" id="vehicleShowTemplate.html">
  <div>
    <dl>
      <dt><span>适用品牌：</span><span ng-bind="templateData.brand.brand"></span></dt>
      <dd>
        <span class="f-fl">适用车系：</span><span class="f-fl" ng-if="!templateData.series">全系通用</span>
        <ul class="f-fl list-unstyled" style="margin: 0;padding: 0;" ng-if="templateData.series">
          <li ng-repeat="keys in templateData.series">
            <span ng-bind="keys.series"></span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</script>
