<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)">&times;</button>
    <h5 class="modal-title">选择适用车型</h5>
  </div>
  <div class="modal-body">
    <div class="f-cb">
      <div class="list brands">
        <div class="input-group">
          <input type="text" class="input-control" placeholder="输入品牌/首字母" ng-model="searchBrand.searchText" ng-change="searchBrand.firsthandle()">
          <span class="input-addon">
            <i class="icon-search"></i>
          </span>
        </div>
        <div class="items">
          <ul class="list-unstyled">
            <li ng-repeat="item in brandList | filter: searchBrand.searchData" bindonce="" ng-class="{'open': item.$open}">
              <div ng-if="item.group">
                <span ng-bind="item.group"></span>
              </div>
              <div ng-if="!item.group">
                <input type="checkbox" name=""
                       bf-check-indeterminate="item.$isIndeterminate()"
                       ng-model="item.$checked"
                       ng-checked="item.$checked"
                       ng-change="item.$setCheckState(item.$checked)" style="vertical-align:middle; margin-top:0;">
                <span class="select" ng-click="selecthandle(2, item, 'series', 'seriesList')">
                  <span bo-text="item.brand"></span>
                  <span class="arrow f-fr">
                    <i class="icon-arrow_right"></i>
                  </span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="list series">
        <div class="input-group">
          <input type="text" class="input-control" placeholder="输入车系" ng-model="searchSeries.searchText" ng-change="searchSeries.firsthandle()">
          <span class="input-addon">
            <i class="icon-search"></i>
          </span>
        </div>
        <div class="items">
          <ul class="list-unstyled">
            <li ng-repeat="item in seriesList | filter: searchSeries.searchData" bindonce="" ng-class="{'open': item.$open}">
              <input type="checkbox" name=""
                     bf-check-indeterminate="item.$isIndeterminate()"
                     ng-model="item.$checked"
                     ng-checked="item.$checked"
                     ng-change="item.$setCheckState(item.$checked)" style="vertical-align:middle; margin-top:0;">
              <span class="select" ng-click="selecthandle(3, item, 'year', 'yearList')">
                  <span bo-text="item.series"></span>
                  <span class="arrow f-fr">
                    <i class="icon-arrow_right"></i>
                  </span>
                </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="list years">
        <div class="input-group">
          <input type="text" class="input-control" placeholder="输入年款" ng-model="searchYear.searchText" ng-change="searchYear.firsthandle()">
          <span class="input-addon">
            <i class="icon-search"></i>
          </span>
        </div>
        <div class="items">
          <ul class="list-unstyled">
            <li ng-repeat="item in yearList | filter: searchYear.searchData" bindonce="" ng-class="{'open': item.$open}">
              <input type="checkbox" name=""
                     bf-check-indeterminate="item.$isIndeterminate()"
                     ng-model="item.$checked"
                     ng-checked="item.$checked"
                     ng-change="item.$setCheckState(item.$checked)" style="vertical-align:middle; margin-top:0;">

              <span class="select" ng-click="selecthandle(4, item, 'output', 'outputList')">
                  <span bo-text="item.year"></span>
                  <span class="arrow f-fr">
                    <i class="icon-arrow_right"></i>
                  </span>
                </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="list outputs">
        <div class="input-group">
          <input type="text" class="input-control" placeholder="输入排量" ng-model="searchOutput.searchText" ng-change="searchOutput.firsthandle()">
          <span class="input-addon">
            <i class="icon-search"></i>
          </span>
        </div>
        <div class="items">
          <ul class="list-unstyled">
            <li ng-repeat="item in outputList | filter: searchOutput.searchData" bindonce="" ng-class="{'open': item.$open}">
              <input type="checkbox" name=""
                     bf-check-indeterminate="item.$isIndeterminate()"
                     ng-model="item.$checked"
                     ng-checked="item.$checked"
                     ng-change="item.$setCheckState(item.$checked)" style="vertical-align:middle; margin-top:0;">

              <span class="select" ng-click="selecthandle(5, item, 'model', 'modelList')">
                  <span bo-text="item.output"></span>
                  <span class="arrow f-fr">
                    <i class="icon-arrow_right"></i>
                  </span>
                </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="list models">
        <div class="input-group">
          <input type="text" class="input-control" placeholder="输入车型" ng-model="searchModel.searchText" ng-change="searchModel.firsthandle()">
          <span class="input-addon">
            <i class="icon-search"></i>
          </span>
        </div>
        <div class="items">
          <ul class="list-unstyled">
            <li ng-repeat="item in modelList | filter: searchModel.searchData" bindonce="" ng-class="{'open': item.$$open}">
              <input type="checkbox" name=""
                     bf-check-indeterminate="item.$isIndeterminate()"
                     ng-model="item.$checked"
                     ng-checked="item.$checked"
                     ng-change="item.$setCheckState(item.$checked)" style="vertical-align:middle; margin-top:0;">

              <span bo-text="item.model"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h2 class="h6">已选择适用车型：</h2>
      <hr>
      <div style="height:100px; overflow-y: auto">
        <div class="tags" ng-repeat="item in dataLists">
          <span ng-bind="item.title"></span>
          <span class="close" ng-click="removeHandle(item)">&times;</span>
        </div>
      </div>
    </div>
    <div>
      <br>
    </div>
    <div class="modal-footer f-tac">
      <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()">确　定</button>　　
      <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)">取　消</button>
    </div>
  </div>
</div>
