<div>
  <div class="w-search">
    <form class="form-horizontal f-cb" name="searchModel" autocomplete="off" novalidate>
      <div simple-search-keyword="" ng-if="isKeywordShow"></div>
      <div ng-if="isShowmore" class="isshowmore">
        <div class="form-group" ng-repeat="item in search.directive">
          <label class="b-w-1 control-label" style="min-width:108px;">{{item.label}}</label>
          <div class="b-w-9" ng-switch="item.type">
            <div class="list" ng-switch-when="list">
              <div simple-search-list="" items="item"></div>
            </div>
            <div class="list" ng-switch-when="integer">
              <div simple-search-integer="" items="item"></div>
            </div>
            <div class="list" ng-switch-when="date">
              <div simple-search-date="" items="item"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="f-tac">
            <button type="button" ng-click="setSearch($event)" class="u-btn u-btn-primary u-btn-sm" ng-disabled="isDisabled">查　询</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
