<ol class="k-breadcrumb">
    <li><a ui-sref="user.customer.list({page:1})">会员中心</a></li>
    <li class="active">精准推送</li>
</ol>
<div class="g-view-am">
    <div class="am-wrapper">
        <div class="am-info">
            <h3>注意事项</h3>
            <p>1. 店铺需自主开启或关闭推送开关。</p>
            <p>2. 开启后，当满足条件时，自动对会员进行短信提醒。</p>
            <p>3. 若需开启至车机的推送，店铺需开通车联网功能。</p>
            <p>4. 短信前自带的【车边生活】，为短信指示通道签名，不可更改和删除，如有不便，敬请谅解。</p>
            <p>5. 如需帮助，请致电的客服电话 <span class="u-btn-link f-curp" shop-home-settings-telephone
                                     telephone="vm.dataBase.store.telephone" setting-item="vm.telephoneHandler(data)"
                                     cb-access-control="chebian:store:store:shop:edit">设置</span>。</p>
        </div>
        <div class="trade-grid am-grid">
            <div class="grid-body">
                <div class="simple-table table-scroll-position-left" table-scroll-position>
                    <div class="table-content">
                        <div class="table-scroll">
                            <div class="table-body">
                                <table class="table-fixed">
                                    <thead class="table-thead">
                                        <tr>
                                            <th style="min-width: 100px;"><strong style="margin-left: 19px;">类型</strong></th>
                                            <th style="min-width: 100px;"><strong>场景</strong></th>
                                            <th style="min-width: 120px;"><strong>发送条件</strong></th>
                                            <th style="min-width: 450px;"><strong>发送内容预览</strong></th>
                                            <th style="min-width: 100px;" class="f-tac"><strong>短信推送开关</strong></th>
                                            <th style="min-width: 110px;" class="f-tac"><strong>推送至车机开关</strong></th>
                                            <th style="min-width: 100px;" class="f-tar"><strong style="margin-right: 19px;">发送数量</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-tbody">
                                        <tr bindonce ng-repeat="item in vm.gridModel.itemList">
                                            <td style="min-width: 100px;"><span style="margin-left: 19px;" bo-bind="item.msgtype | formatStatusFilter : 'am_msgtype'"></span></td>
                                            <td style="min-width: 100px;"><span bo-bind="item.detailname"></span></td>
                                            <td style="min-width: 120px;">
                                                <span class="state-unread" simple-truncate-text="{{item.condition}}" resize="true"></span>
                                            </td>
                                            <td style="min-width: 450px;">
                                                <span class="state-unread" simple-truncate-text="{{item.content}}" resize="true"></span>
                                            </td>
                                            <td style="min-width: 100px;" class="f-tac">
                                                <div  bo-if="item.mobileDefaultDisabled && item.mobile == 1 && !item.mobileNotExist" cb-switch="forbidden" checkstatus="item.mobile" cb-popover popover-placement="right-top" popover-template-id="disabled-on-default.html" popover-animation="false"></div>
                                                <div bo-if="item.mobileDefaultDisabled && item.mobile == 0 && !item.mobileNotExist" cb-switch="forbidden" checkstatus="item.mobile" cb-popover popover-placement="right-top" popover-template-id="disabled-off-default.html" popover-animation="false"></div>
                                                <div bo-if="!item.mobileDefaultDisabled && !item.mobileNotExist" cb-switch checkstatus="item.mobile" ng-click="vm.gridModel.changeMobileStatus(item)"></div>
                                            </td>
                                            <td style="min-width: 110px;" class="f-tac">
                                                <div bo-if="item.chejiDefaultDisabled && item.chejiExist" cb-switch="forbidden" checkstatus="item.cheji" cb-popover popover-placement="right-top" popover-template-id="disabled-not-default.html" popover-animation="false"></div>
                                            </td>
                                            <td style="min-width: 100px;" class="f-tar"><span style="margin-right: 19px;"><span class="state-unread" bo-bind="item.hasused"></span> 条</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-loading" ng-if="vm.gridModel.loadingState">
                    <span class="loading"><span><i class="icon-loading"></i></span>正在加载中...</span>
                </div>
                <div class="grid-nodata" ng-if="!vm.gridModel.loadingState && !vm.gridModel.itemList.length">
                    <span><i class="icon-not-data"></i>暂无数据</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="disabled-on-default.html">
    <p>该提醒无法关闭。</p>
</script>
<script type="text/ng-template" id="disabled-off-default.html">
    <p>该提醒暂不可用，敬请期待。</p>
</script>
<script type="text/ng-template" id="disabled-not-default.html">
    <p>您未开通车联网功能。</p>
</script>
