<div class="cb-top-bar g-topbar" role="menubar" bindonce>
    <div class="topbar-wrap f-cb">
        <div class="topbar-head f-fl">
            <a href="" target="{{navLinks.logo.target || '_blank'}}" class="m-logo topbar-left" title="{{navLinks.logo.title}}"></a>
          <!--<span>店铺管理平台</span>-->
        </div>
        <div class="topbar-head f-fr">
            <p class="topbar-head-storename" ng-bind="navLinks.storeName"></p>
        </div>
    </div>
    <div class="topBar-info f-cb">
      <a class="user-btn-link user-btn-link-signout" href="{{navLinks.user.links[0].href}}"
         target="{{item.target || '_self'}}"><span bo-text="item.text"></span>退出系统</a>
      <a href="#" role="menuitem" aria-haspopup="true" aria-label="press enter to expand"
         class="dropdown-toggle" dropdown-toggle="dropdown"><span
        ng-bind="navLinks.user.account.username"></span></a>
      <a href="javascript:;">消息通知(0)</a>
      <a ui-sref="system.feedback"><i class="icon-pen"></i> 提建议</a>
    </div>
</div>
