<ol class="k-breadcrumb">
  <li><a ui-sref="trade.order.list({page:1})">交易管理</a></li>
  <li class="active">开单</li>
</ol>
<div class="g-view addOrder">
    <div class="area-wraper">
        <div class="area f-cb">
            <strong class="f-fl" style="font-size: 16px;overflow: hidden;width: 100px">省简称：</strong>
            <ul class="f-fl" dg-click="vm.select($event, item)" selector="li" style="position: relative;top: 4px;left: -26px;width: 700px;">
                <li ng-repeat="item in vm.area">
                    <span class="item" ng-bind="item.area" ng-class="{'active': item.active}"></span>
                </li>
            </ul>
        </div>
        <div class="initials f-cb" style="margin-top: 20px">
            <strong class="f-fl"  style="font-size: 16px;overflow: hidden">所在地：</strong>
            <ul class="f-fl" dg-click="vm.select($event, item)" selector="li" style="position: relative;top: 4px;left: 9px;width: 700px;">
                <li ng-repeat="item in vm.initials">
                    <span class="item" ng-bind="item.text" ng-class="{'active': item.active}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="search f-cb">
        <!--<strong class="f-fl"  style="font-size: 16px">车牌号：</strong>-->
        <div class="">
            <span class="first" ng-bind="vm.license.first"></span>
            <input type="text" name="" id="license" class="input-control" ng-model="vm.license.last"  ng-change="vm.license.search()" maxlength="5" placeholder="请输入车牌号" cb-input-license="">
        </div>
        <div class="warning-tips text-danger" ng-if="vm.isDisabled && vm.showWarningTips" style="padding-left: 75px;">
            请输入正确的车牌号
        </div>
        <ul class="results" dg-click="vm.license.options($event, item)" selector="li" ng-if="vm.license.results">
            <li ng-repeat="item in vm.license.results" ng-bind="item.text"></li>
        </ul>
    </div>
    <div class="info-wraper" style="padding-top: 50px;">
        <div class="w-order-info-wraper" ng-if="vm.license.customer.userType == 'n'">
            <!--userType：n(找不到)，u(会员)，c(客户)。-->
            <div class="info f-cb">
                <div class="user f-fl info-item">
                    <span class="user-avatar notfound">
                        <i class="icon-avatar"></i>
                    </span>
                    <h4 ng-bind="vm.license.customer.realname"></h4>
                </div>
                <div class="motor f-fl info-item">
                    <span class="default-car-image brand-logo" ng-if="!customer.motor_logo"></span><strong ng-bind="vm.license.customer.licence"></strong>
                </div>
            </div>
        </div>
        <div class="w-order-info-wraper" ng-if="vm.license.customer.userType == 'c'">
            <!--userType：n(找不到)，u(会员)，c(客户)。-->
            <div class="info f-cb">
                <div class="user f-fl info-item">
                    <span class="user-avatar">
                        <i class="icon-avatar"></i>
                    </span>
                    <h4 ng-bind="vm.license.customer.realname"></h4>
                    <p ng-bind="vm.license.customer.mobile"></p>
                </div>
                <div class="motor f-fl info-item">
                    <span class="default-car-image brand-logo"></span>
                    <strong ng-bind="vm.license.customer.licence"></strong>
                </div>
            </div>
        </div>
        <div class="w-order-info-wraper" ng-if="vm.license.customer.userType == 'u'" style="max-height: 363px; overflow: hidden; overflow-y: auto;">
            <!--userType：n(找不到)，u(会员)，c(客户)。-->
            <div class="info f-cb" ng-class="{'user-wraper': vm.license.customer.customers.length > 1}" ng-repeat="item in vm.license.customer.customers">
                <div class="customer f-fl">
                    <input type="radio" name="customer" ng-value="$index" ng-model="vm.license.radio">
                </div>
                <div class="user f-fl info-item">
                    <span class="default-user-image user-avatar" ng-if="!item.user.avatar"></span>
                    <img class="user-avatar" ng-if="item.user.avatar" ng-src="{{item.user.avatar}}" alt="">
                    <h4 ng-bind="item.user.realname" class="customer-name"></h4>
                    <p ng-bind="item.user.mobile"></p>
                </div>
                <div class="motor f-fl info-item">
                    <span class="default-car-image brand-logo" ng-if="!item.motor.logo"></span>
                    <img class="brand-logo" ng-if="item.motor.logo" ng-src="{{item.motor.logo}}" alt="">
                    <strong ng-bind="item.motor.licence" style="margin-left: 15px"></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="padding-left: 170px;">
        <button ng-click="vm.gotoPage()" class="u-btn u-btn-primary u-btn-lg" >下一步</button>
        <!--ng-disabled="vm.isDisabled"-->
    </div>
</div>
