<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)"
                aria-hidden="true">&times;
        </button>
        <h5 class="modal-title">选择服务</h5>
    </div>
    <div class="modal-body w-panel">
        <div class="panel-header">
            <div class="search">
                <div class="tips" ng-if="!searchModel.isTips">
                    <p>若本店未新增服务项目，可从【车边库】找找看，已选服务项目将自动添加至本店库中。</p>
                    <span style="font-weight: 700;" ng-click="searchModel.isTips = true">x</span>
                    <!--<span class="icon-remove" ng-click="searchModel.isTips = true"></span>-->
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <input type="text" ng-model="searchModel.search.keyword" class="input-control f-fl" ng-change="searchModel.searchHandler(searchModel.search.keyword)"
                           style="width: 370px; margin-right: 10px;" placeholder="请输入服务编码、名称、规格关键字" maxlength="60" />
                    <button class="u-btn u-btn-primary u-btn-sm f-fl" ng-click="searchModel.handler()">查 询</button>
                    <button class="f-fl u-btn u-btn-primary u-btn-sm transparent" fast-add-server-dialog="" item-handler="fastAddServerCb(data)" style="margin-left: 10px;">快速新增</button>
                </div>
                <div class="form-group">
                    <label class="control-label">库源：</label>
                    <div class="control-content">
                        <div simple-radio-group="stencilstore" radio-value="searchModel.search.stencilstore"
                             radio-options="searchModel.stencilstore" on-change="searchModel.handler(data, 'stencilstore')"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">排序：</label>
                    <div class="control-content">
                        <div simple-radio-group="order" radio-value="searchModel.search.order"
                             radio-options="searchModel.order" on-change="searchModel.handler(data, 'order')"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">服务类目：</label>
                    <div class="control-content">
                        <div simple-radio-group="scateid1" radio-value="searchModel.search.scateid1"
                             radio-options="searchModel.scateid1" on-change="searchModel.handler(data, 'scateid1')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-body">
                <div class="table-wrap">
                    <div class="table-thead" ng-class="{'scrollbar': gridModel.itemList.length > 7}">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 36px;" class="f-tac">
                                        <div simple-checkbox checkbox-checked="gridModel.checkedAll" checkbox-indeterminate="gridModel.indeterminate()" on-change="gridModel.changeSelectionAll(data)"></div></th>
                                    <th style="width: 220px;"><span style="margin-left: 10px;">服务编码</span></th>
                                    <th style="width: 500px;">服务名称+规格</th>
                                    <th style="width: 200px;" class="f-tar"><span style="margin-right: 30px;">服务费</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-tbody" ng-if="!gridModel.loadingState && gridModel.itemList.length">
                        <table>
                            <tbody>
                            <tr ng-repeat="item in gridModel.itemList track by item.guid" bindonce="" ng-class="{'active': item.$checked}" dg-click="gridModel.handler($event, item)" selector="td">
                                <td style="width: 36px;" class="f-tac">
                                    <div simple-checkbox checkbox-checked="item.$checked" on-change="gridModel.changeSelection(data, item)"></div>
                                </td>
                                <td style="width: 220px;"><span style="margin-left: 10px;" bo-bind="item.code"></span></td>
                                <td style="width: 500px;"><span bo-bind="item.$itemname"></span></span>
                                </td>
                                <td style="width: 200px;" class="f-tar"><span style="margin-right: 30px;"
                                                                              bo-bind="item.$price | moneyformatFilter"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="grid-loading" ng-if="gridModel.loadingState">
                    <span class="loading"><span><i class="icon-loading"></i></span>正在加载中...</span>
                </div>
                <div class="grid-nodata" ng-if="!gridModel.loadingState && !gridModel.itemList.length">
                    <span class="h1" ng-if="!searchModel.search.keyword"><i class="icon-not-data"></i>暂无数据</span>
                    <span ng-if="searchModel.search.keyword">很抱歉，没有找到与“<span class="text-danger" ng-bind="searchModel.search.keyword"></span>”相关的信息</span>
                </div>
            </div>
            <div class="table-foot f-cb">
                <div class="grid-stats f-fl">
                    已选<span ng-bind="dataSources.length"></span>项
                </div>
                <div ng-if="gridModel.itemList.length" class="grid-paging f-fr" simple-pagination
                     previous-text="&lt;" next-text="&gt;"
                     on-select-page="gridModel.pageChanged(page)" pagination-info="gridModel.paginationinfo"
                     rotate="false" boundary-link-numbers="true" force-ellipses="true" show-page-goto="true"></div>
            </div>
            <div ng-if="isEmptyData" style="margin-top: 10px;" class="alert alert-warning">
                温馨提醒：必须要选择一项
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline-block f-tac">
            <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" style="margin-right: 15px">确　定
            </button>
            <button class="u-btn u-btn-cancel u-btn-sm" ng-click="close(false)" style="margin-left: 15px">取　消
            </button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="orderTooltipServiceTemplate.html">
    <p bindonce="" bo-text="templateData.title"></p>
</script>
