.viewFramework-order-service-dialog {
  .modal-dialog {
    width: 1000px;
  }
  .modal-body {
    padding: 0;
    .panel-header{
      background-color: #f7f7f7;  
    }
    .panel-body{
      padding: 20px;
    }
    .title {
      font-size: 14px;
      line-height: 32px;
      color: #666;
      font-weight: normal;
    }
    .content {
      overflow-y: auto;
      border: 1px solid #dedede;
    }
  }
  .search{
    position: relative;
    .form-group{
      padding: 0;
    }
    .control-label{
      width: 90px;
      color: #333;
      line-height: 30px;
      height: 30px;
    }
    .control-content{
      line-height: 30px;
    }
    .tips{
      position: absolute;
      //right: 0;
      left: 231px;
      top: 43px;
      z-index: 5;
      line-height: 20px;
      //padding: 5px 36px 10px 15px;
      padding: 5px 17px 5px 5px;
      color: #666;
      font-size: 12px;
      border: 1px solid #e8e8b0;
      background-color: #f6f6e0;
      border-radius: 6px;
      //p{
      //  width: 185px;
      //}
      span{
        position: absolute;
        right: 7px;
        top: 5px;
        cursor: pointer;
        &:hover{
          color: #e71e28;
        }
      }
    }
  }
  .table-foot{
    padding-top: 10px;
  }
  .grid-stats{
    line-height: 24px;
    color: #333;
  }
  .table-body{
    position: relative;
    min-height: 300px;
    .grid-loading{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .table-thead{
      background-color: #f2f2f2;
      border: 1px solid #e8e8e8;
      &.scrollbar{
        padding-right: 17px;
      }
    }
    .table-tbody{
      height: 287px;
      overflow-y: auto;
      border: 1px solid #e8e8e8;
    }
    table{
      position: relative;
      width: 100%;
      tr{
        width: 100%;
      }
      tbody{
        width: 100%;
        tr:hover{
          background-color: #fafafa;
          cursor: pointer;
        }
        tr.active{
          background-color: #f2f2f2;
        }
        tr.disabled{
          color: #ccc;
          cursor: not-allowed;
        }
      }
      th{
        line-height: 38px;
      }
      td{
        line-height: 40px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.grid-loading {
  height: 300px;
  line-height: 300px;
  text-align: center;
  .loading {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    > span {
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px;
        animation: rotate 1s infinite;
      }
    }
  }
}

.grid-nodata{
  height: 300px;
  line-height: 300px;
  text-align: center;
  > span{
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    i{
      margin-right: 10px;
    }
  }
}

.modal-dialog-loading{
  position: relative;
  .mask {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    text-align: center;
  }
  .loading {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    animation: rotate 1s infinite;
  }
}

.order-tooltip-service {
  .tooltip-inner {
    padding: 10px 16px;
    border: 1px solid #e8e8b0;
    background-color: #f6f6e0;
    line-height: 20px;
    color: #666;
    text-align: left;
  }
}

.viewFramework-orader-received-dialog {
  .modal-dialog {
    width: 800px;
  }
  .control-content {
    width: 67%;
  }
}

.viewFramework-orader-offers-received-dialog {
  .modal-dialog {
    width: 800px;
  }
  .control-content {
    width: 67%;
  }
}

.viewFramework-order-product-dialog {
  .modal-dialog {
    width: 1000px;
  }
  .modal-body {
    padding: 0;
    .panel-header{
      background-color: #f7f7f7;
    }
    .panel-body{
      padding: 20px;
    }
    .title {
      font-size: 14px;
      line-height: 32px;
      color: #666;
      font-weight: normal;
    }
    .content {
      overflow-y: auto;
      border: 1px solid #dedede;
    }
  }
  .search{
    position: relative;
    .form-group{
      padding: 0;
    }
    .control-label{
      width: 90px;
      color: #333;
      line-height: 30px;
      height: 30px;
    }
    .control-content{
      line-height: 30px;
    }
    .lastuse{
      position: absolute;
      z-index: 10;
      left: 0;
      top: 34px;
      width: 370px;
      font-size: 12px;
      background-color: #fff;
      border: 1px solid #b2b2b2;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
      h4{
        padding-top: 10px;
        color: #999;
        line-height: 30px;
        padding-left: 10px;
      }
      .list{
        padding-bottom: 15px;
        li{
          line-height: 30px;
          padding: 0 15px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
          color: #333;
          &:hover{
            background-color: #f2f2f2;
          }
        }
      }
      .btn{
        margin: 0 10px;
        border-top: 1px solid #eee;
        line-height: 34px;
        text-align: center;
        span{
          cursor: pointer;
        }
      }
    }
    .tips{
      position: absolute;
      //right: 0;
      left: 231px;
      top: 43px;
      z-index: 5;
      line-height: 20px;
      //padding: 5px 36px 10px 15px;
      padding: 5px 17px 5px 5px;
      color: #666;
      font-size: 12px;
      border: 1px solid #e8e8b0;
      background-color: #f6f6e0;
      border-radius: 6px;
      //p{
      //  width: 185px;
      //}
      span{
        position: absolute;
        right: 7px;
        top: 5px;
        cursor: pointer;
        &:hover{
          color: #e71e28;
        }
      }
    }
    /*.tips{
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
      line-height: 20px;
      padding: 5px 36px 10px 15px;
      color: #666;
      border: 1px solid #e8e8b0;
      background-color: #f6f6e0;
      border-radius: 6px;
      p{
        width: 185px;
      }
      span{
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
        &:hover{
          color: #e71e28;
        }
      }
    }*/
  }
  .table-foot{
    padding-top: 10px;
  }
  .grid-stats{
    line-height: 24px;
    color: #333;
  }
  .table-body{
    position: relative;
    min-height: 300px;
    .item-name{
      font-size: 14px;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .grid-loading{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .table-thead{
      background-color: #f2f2f2;
      border: 1px solid #e8e8e8;
      &.scrollbar{
        padding-right: 17px;
      }
    }
    .table-tbody{
      height: 287px;
      overflow-y: auto;
      border: 1px solid #e8e8e8;
    }
    table{
      position: relative;
      width: 100%;
      tr{
        width: 100%;
      }
      tbody{
        width: 100%;
        tr:hover{
          background-color: #fafafa;
          cursor: pointer;
        }
        tr.active{
          background-color: #f2f2f2;
        }
        tr.disabled{
          color: #ccc;
          cursor: not-allowed;
        }
      }
      th{
        line-height: 38px;
      }
      td{
        line-height: 40px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.viewFramework-order-package-dialog {
  .modal-dialog {
    width: 800px;
  }
  .modal-body {
    padding: 20px;
    .title {
      margin: 4px 0 22px;
      font-size: 18px;
      line-height: 20px;
      padding-left: 9px;
      color: #333;
      border-left: 4px solid #038ae3;
    }
    .table {
      border: 1px solid #e8e8e8;
      th {
        color: #333;
        background-color: #f2f2f2;
        line-height: 24px;
      }
      td {
        color: #666;
        line-height: 44px;
        background-color: #fff;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

//操作订单
.editOrder {
  position: relative;
  overflow: visible;
  min-width: 28px;
  min-height: 24px;
  .edit-More {
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
    font-weight: 800;
  }
  .edits {
    width: 100px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 0;
    position: absolute;
    top: 20px;
    left: -2px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 8px 4px -6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    a {
      margin-right: 4px;
    }
  }

  .edit-item {
    display: block;
    width: 100%;
    padding: 2px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.editOrder:hover {
  .edit-More {
    display: block;
  }
}

.table-hover > tbody > tr:hover {
  background-color: #fafafa;
  .edit-More {
    display: block;
  }
}

.col-red {
  color: red;
}

.mL8 {
  margin-left: 8px;
}

.gridSection {
  overflow: hidden;
}

.orderUser {
  overflow: hidden;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .state-unread {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  + .popover {
    max-width: 300px;
  }
  .showCont {
    width: 300px;
    dt {
      width: 64px;
      img {
        width: 64px;
      }
    }
  }
}

.carUser {
  + .popover {
    max-width: 460px;
  }
}

//项目统计
.FootConfig {
  overflow: hidden;
  p {
    padding-bottom: 10px;
  }
  strong {
    width: 150px;
    margin-right: 5px;
  }
}

.removeTfoot .grid-footer {
  height: 0;
}

// '更多' 按钮下面的 'label' 字体weight
.radio-inline label {
  font-weight: 500;
}

.w-order-info-wraper {
  .info {
    width: 100%;

    &-item {
      width: 100%;
      strong,
      p {
        //margin-left: 30px;
      }
    }
  }
  .user {
    position: relative;
    padding-left: 105px;
    height: 100px;
    font-size: 20px;
    line-height: 34px;
    .user-avatar {
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: 60px;
      //overflow: hidden;
      font-size: 26px;
      background-color: #ccc;
      border-radius: 50%;
      line-height: 60px;
      text-align: center;
      color: #fff;
    }
    .notfound.user-avatar {

    }
    h4 {
      padding-top: 12px;
      //padding-left: 29px;
    }
    h4.customer-name {
      padding-top:0;
    }
  }
  .motor {
    height: 100px;
    line-height: 56px;
    .brand-logo {
      width: 80px;
      height: 56px;
    }
    strong {
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
    }
  }
}

//开单
.addOrder.g-view {
  width: 800px;
  margin: 50px auto;
  .area-wraper {
    line-height: 30px;
    li {
      float: left;
      min-width: 40px;
      //padding: 0 3px;
      font-size: 16px;
      text-align: center;
      margin: 0 8px 8px 0;
      cursor: pointer;
      .item {
        display: block;
        width: 30px;
        height: 100%;
        border:1px solid #eee;
      }
      &:hover {
        //padding:0;
        .item {
          background-color: #038ae3;
          border-color: #038ae3;
          width: 40px;
          font-size: 18px;
          color: #fff;
        }

      }
      .item.active {
        color: #fff;
        background-color: #038ae3;
      }
    }
  }

  .search {
    position: relative;
    margin-top: 50px;
    line-height: 34px;
    .first {
      display: inline-block;
      //width: 40px;
      font-size: 30px;
      margin-right: 20px;
    }
    .input-control {
      display: inline-block;
      line-height: 40px;
      font-size: 28px;
      width: 500px;
    }
  }
  .results {
    position: absolute;
    left: 76px;
    top: 54px;
    z-index: 100;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 0;
    li {
      padding-left: 30px;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #038ae3;
      }
    }
  }
  .info-wraper {
    width: 620px;
    margin: 0 0 50px 75px;
    .customer {
      display: none;
    }
    .user-wraper {
      padding-top: 20px;
      border-bottom: 1px solid #ccc;
      .customer {
        display: block;
        width: 6%;
        line-height: 60px;
        input {
          margin-top: 1px;
          width: 16px;
          height: 16px;
          cursor: pointer;
          vertical-align: middle;
        }
      }
      .info-item {
        width: 47%;
      }
    }
  }
  .info-item {
    width: 50%;

    + .info-item {
      //margin-top: 20px;
      padding-left: 20px;
    }
  }
}

@mixin compute-items-group($width) {
  min-width: $width;
  width: ($width / 1070px) * 100%;
}

.order-popover-user {
  .popover-content {
    padding: 13px 23px 18px;
  }
  .trade-list-user-avatar{
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    border-radius: 48px;
    color: #fff;
    background-color: #999;
  }
  dl {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    dt {
      float: left;
    }
    dd {
      display: block;
      float: left;
      padding-left: 20px;
      h3 {
        height: 30px;
      }
    }
  }
  ul {
    font-size: 14px;
    color: #666;
  }
  li {
    line-height: 32px;
    vertical-align: top;
    overflow: hidden;
    label {
      width: 70px;
      font-weight: normal;
      text-align: right;
    }
    p {
      width: 140px;
      line-height: 32px !important;
    }
  }
}

.order-popover-motor {
  max-width: initial;
  .popover-content {
    padding: 5px 17px 26px;
  }
  ul {
    padding-top: 8px;
    border-top: 1px solid #eee;
    &:first-child {
      padding-top: 9px;
      border-top: none;
    }
  }
  li {
    line-height: 32px;
    vertical-align: top;
    overflow: hidden;
    label {
      float: left;
      width: 130px;
      font-weight: normal;
      text-align: right;
    }
    p {
      float: left;
      width: 220px;
      line-height: 32px !important;
    }
  }
}

.addedOrder {
  position: relative;
  .container-fluid {
    padding-left: 30px;
  }
  .form-horizontal {
    margin-top: 20px;
    margin-bottom: 200px;
    .info-group {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 30px;
      .panel-header {
        background-color: #fafafa;
      }
      dl {
        min-width: 369px;
        &:first-child {
          padding-right: 87px;
          margin-right: 23px;
          border-right: 1px solid #eeeeee;
        }
        height: 100px;
        dt {
          float: left;
          height: 100px;
          .user-avatar {
            width: 100px;
            height: 100%;
            border-radius: 50%;
          }
          .brand-logo {
            width: 143px;
            height: 100%;
          }
        }
        dd {
          padding-left: 20px;
          float: left;
        }
        h3 {
          margin: 0 0 3px;
          line-height: 32px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .send-carinfo {
      padding: 22px 29px 7px;
      > div{
        width: 25%;
      }
      .form-group {
        position: relative;
        padding: 0 0 22px 120px;
        float: left;
        width: 100%;
      }
      .control-label {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        font-size: 14px;
        color: #666;
      }
      .control-content{
        width: 100%;
      }
    }
    .info-toggle {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #038ae3;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: #026ad0;
      }
    }
  }
  .has-error {
    border-color: #e71e28;
    -webkit-box-shadow: 0 0 2px rgba(231, 30, 40, .5) ;
    -moz-box-shadow: 0 0 2px rgba(231, 30, 40, .5);
    box-shadow: 0 0 5px rgba(231, 30, 40, .5);
  }
  .items-group {
    .order-template {
      overflow: hidden;
      margin-top: 10px;
      min-width: 620px;
      li {
        font-size: 12px;
        color: rgb(102,102,102);
        cursor: pointer;
        &.active {
          color: rgb(3,138,227);
        }
        &:hover {
          color: rgb(3,138,227);
        }
      }
      .arrow {
        font-family: \5b8b\4f53, "SimSun", "宋体";
        font-weight: 700;
        color: rgb(102,102,102);
      }
      .arrow-left {
        padding:1px 14px 0 0;
      }
      .arrow-right {
        padding-left: 14px;
      }
      .icon-sidebar {
        margin-top: 1px;
        margin-left: 10px;
        color: rgb(102,102,102);
        &:hover {
          color: rgb(3,138,227);
        }
      }
    }
    .k-simple-select .select ul {
      max-height: 120px;
    }
    .k-simple-select .select li {
      padding-left: 10px;
    }
    .not-data {
      line-height: 365px;
      color: #cccccc;
    }
    .td1 {
      @include compute-items-group(30px);
    }
    .td2 {
      @include compute-items-group(310px);
    }
    .td3 {
      @include compute-items-group(140px);
    }
    .td4 {
      @include compute-items-group(130px);
    }
    .td5 {
      @include compute-items-group(50px);
    }
    .td6 {
      @include compute-items-group(80px);
    }
    .td7 {
      @include compute-items-group(140px);
    }
    .td8 {
      @include compute-items-group(140px);
    }
    .td9 {
      @include compute-items-group(50px);
    }
    .td {
      float: left;
      line-height: 60px;
      height: 60px;
      background-color: #fff;
      border-bottom: 1px solid #e8e8e8;
    }
    .thead {
      line-height: 40px;
      background-color: #f2f2f2;
      border-bottom: 1px solid #e8e8e8;
    }
    .thead .td {
      font-size: 16px;
      color: #333;
      background-color: #f2f2f2;
    }
    .tbody {
      dt, dd {
        .icon-trash {
          display: none;
        }
        &:hover .icon-trash {
          display: inline-block;
        }
      }
      dd {
        .line {
          display: inline-block;
          vertical-align: middle;
          width: 29px;
          height: 1px;
          background-color: #e8e8e8;
          overflow: hidden;
          margin-right: 21px;
        }
        > .td1 {
          border-bottom: none;
          border-right: 1px solid #e8e8e8;
        }
        &:last-child:not(:first-child) > .td1 {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
    .trade-order-item {
      .striped .td {
        background-color: #fafafa;
      }
      .item-name {
        position: relative;
        max-width: 100%;
        font-size: 0;
        .tags {
          display: inline-block;
          vertical-align: middle;
          padding: 2px 8px;
          margin-left: 10px;
          line-height: 20px;
          font-size: 12px;
          border: 1px solid #999;
          color: #999;
          border-radius: 4px;
        }
        .title {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          max-width: 70%;
          margin: 0 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #666;
          &-sub {
            min-width: 80%;
          }
        }
      }
      .input-price {
        padding: 14px 8px;
      }
      .link {
        display: inline-block;
        padding: 1px 9px;
        font-size: 12px;
        line-height: 18px;
        vertical-align: middle;
        color: #038ae3;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #038ae3;
        }
      }
    }
    .trade-order-item {
      padding-top: 21px;
    }
    .package-wrap {
      display: inline-block;
      vertical-align: middle;
    }
    .package-items {
      font-size: 0;
      padding: 0 11px 0 32px;
      span {
        font-size: 16px;
      }
      .icon-remove {
        vertical-align: top;
        font-size: 14px;
        margin-left: 40px;
      }
    }
    .package-popover {
      position: relative;
      .popover {
        display: block;
        top: 40px;
        max-width: 350px;
        &.bottom > .arrow {
          left: 57px;
        }
      }
      li {
        padding: 0 17px;
        text-align: left;
        line-height: 34px;
        color: #333;
        cursor: pointer;
        &:hover {
          background-color: #f2f2f2;
        }
      }
      .popover-inner {
        width: 328px;
        padding-bottom: 10px;
      }
    }

  }
  .add-order-item {
    .package {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      ul {
        position: absolute;
        left: 0;
        top: 34px;
        width: 200px;
        max-height: 300px;
        overflow-y: auto;
        background-color: #fff;
        text-align: left;
        border: 1px solid #ccc;
      }
      li {
        line-height: 30px;
        padding: 0 10px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        &:hover {
          background-color: #038AE3;
          color: #fff;
        }
      }
    }
  }

  .service-list {
    position: relative;
    padding-right: 60px;
    margin-bottom: 10px;
    .header {
      position: relative;
      background-color: #f2f2f2;
      border: 1px solid #e4e4e4;
      height: 50px;
      line-height: 50px;
      padding: 0 60px 0 20px;
      h4 {
        font-size: 18px;
        font-weight: bold;
        span {
          font-size: 16px;
          font-weight: normal;
        }
      }
      .remove-item {
        position: absolute;
        right: 10px;
        top: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        line-height: 30px;
        text-align: center;
        color: red;
        &:hover {
          background-color: #eee;
        }
      }
      .total-price strong {
        font-size: 24px;
        color: #FF8F00;
      }
    }
    .action {
      position: absolute;
      right: 0;
      top: 0;
      .toggle {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-right: 10px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        &:hover {
          background-color: #eee;
        }
      }
    }
    .item-add-products {
      padding-left: 20px;
    }
    .item-add-btn:hover {
      border-color: #026ad0;
      color: #026ad0;
    }
    .main dt, .main dd {
      position: relative;
      height: 30px;
      line-height: 30px;
      margin-bottom: 10px;
      padding: 0 40px 0 20px;
      > h5, p {
        float: left;
      }
      > h5 {
        font-size: 16px;
        font-weight: bold;
      }
      > p {
        min-width: 380px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      > div {
        float: right;
      }
    }
    .main {
      padding: 10px 0;
      background-color: #f2f2f2;
      .product-balance-group {
        display: inline-block;
        vertical-align: middle;
      }
      .close {
        display: none;
        position: absolute;
        right: 5px;
        top: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }
      dd:hover .close {
        display: block;
      }
      // 商品服务和产品价格
      .trade-service-price {
        width: 55px;
        border: 1px solid #CCCCCC;
        padding: 2px 5px;
      }
      .trade-service-price:focus,
      .trade-product-price:focus {
        border-color: #026ad0;
        box-shadow: 0 0 8px rgba(103, 166, 217, 1);
      }
      .item-price {
        padding: 0 60px 0 83px;
        .input-control {
          width: 90px;
          min-height: 30px;
          padding: 4px 10px;
        }
      }
      .item-num {
        margin-top: 2px;
      }
    }
    .control-label {
      width: 100px;
    }
  }

  .products li {
    position: relative;
    width: 20%;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      display: none;
      color: #d7292a;

      &:hover {
        color: red;
      }
    }
    &:hover {
      border-color: #e9e9e9;
      //box-shadow: 0 0 2px 2px #f8f8f8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.22);
      .close {
        display: inline-block;
      }
    }

    &.product-item {
      min-height: 120px;
      border: 1px solid #CCCCCC;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .product-description {
      padding-right: 10px;
    }
    .product-balance {
      position: absolute;
      bottom: 10px;
      margin-top: 5px;
      line-height: 25px;

      &-group {
        display: inline-block;
      }

      &-sign {
        background-color: #eeeeee;
        padding: 0 2px 0 2px;
        border: 1px solid #CCCCCC;
        border-right-color: transparent;
      }

    }
  }

  .receipt {
    position: fixed;
    left: 150px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px 40px;
    background-color: #fff;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);
    .u-btn {
      margin-top: 10px;
    }
    .statistics {
      white-space: nowrap;
      color: #333;
      dt {
        strong {
          font-size: 24px;
          color: #FF8F00;
        }
      }
      dd {
        > span {
          margin-left: 10px;
        }
        strong {
          font-weight: normal;
        }
        line-height: 20px;
        font-weight: normal;
      }
    }
  }
}


@media screen and (min-width: 1440px) {
  .info-wraper {
    width: 1000px;
  }
}

// 订单服务对话框
.order-item {

  &-list {
    position: relative;
  }
  &-price {
    position: absolute;
    right: 40px;
  }
}

.viewFramework-sidebar-mini .addedOrder .receipt {
  left: 40px;
}

//订单详情按钮
.order-details {
  border: 1px solid #038AE3;
  background-color: #fff;
  color: #038AE3;
}

// '￥'符号
.order-money-icon {
  color: #959591;
}

.order-money {
  min-height: 34px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-left: -5px;
}

.order-alert {
  width: 87%;
  padding: 7px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 4px;

  p {
    font-size: 16px;
  }
}

.order-paytype-active {
  &.u-btn {
    border-color: #2787ca;
    position: relative;
    color: #2787ca;
  }
}

.gift-coupon-received {
  text-align: center;
  padding-top: 15px;
  .success {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../../../assets/images/icon-alert-dialog.png) 0 -240px no-repeat;
  }
  h3 {
    margin-bottom: 35px;
  }
  .coupon {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  .form-group {
    width: 320px;
    margin: 0 auto;
    .control-label {
      width: 120px;
    }
    > div {
      text-align: left;
    }
  }
}

.g-view-trade {
  padding: 15px;
  background-color: #d7d7d7;
  min-height: 108%;
}

.trade-wrapper {
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding-bottom: 50px;
  .trade-search {
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    .b-tab-bor {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.trade-grid {
  .export {
    margin-right: 20px;
    color: #038ae3;
    border-right: 1px solid #eee;
    &:last-child{
      border-right: none;
    }
    a{
      line-height: 34px;
      padding: 0 19px;
    }
  }
  .switchover {
    margin-top: 2px;
    width: 88px;
    border: 1px solid #038ae3;
    font-size: 0;
    border-radius: 4px;
    a {
      display: inline-block;
      width: 50%;
      text-align: center;
      font-size: 16px;
      line-height: 28px;
      color: #038ae3;
      cursor: pointer;
      &.active {
        color: #fff;
        cursor: default;
        background-color: #038ae3;
      }
    }
  }
  .grid-header {
    padding: 30px 20px 20px;
  }
  .grid-body {
    &.grid-body-view {
      margin: 0 20px 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
    .trade-list-user-avatar{
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      width: 24px;
      height: 24px;
      font-size: 12px;
      text-align: center;
      line-height: 24px;
      border-radius: 24px;
      color: #fff;
      background-color: #999;
    }
    table {
      width: 100%;
    }
    tbody td {
      // line-height: 40px;
      height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #e8e8e8;
    }
    .action {
      margin-right: 8px;
      .link {
        margin: 0 8px;
        cursor: pointer;
        user-select:none;
        &.complete{
          color: #999;
          cursor: default;
        }
      }
      .u-btn-link {
        color: #038AE3;
      }
      .line {
        user-select:none;
        color: #ccc;
      }
    }
    thead, tfoot {
      tr {
        line-height: 38px;
        background-color: #f2f2f2;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
  .grid-aside {
    position: relative;
    z-index: 2;
    width: 300px;
    .list {
      height: 650px;
      margin-bottom: 15px;
      overflow-y: auto;
      li {
        position: relative;
        height: 65px;
        padding-left: 70px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &.active {
          background-color: #f2f2f2;
          cursor: default;
        }
        .car-logo {
          position: absolute;
          left: 7px;
          top: 50%;
          width: 55px;
          height: 39px;
          transform: translate(0, -50%);
          text-align: center;
          img{
            width: 100%;
            height: 100%;
          }
          .icon-car-warp{
            display: inline-block;
            vertical-align: middle;
            width: 39px;
            height: 39px;
            text-align: center;
            line-height: 39px;
            background-color: #999;
            border-radius: 39px;
            i{
              font-size: 20px;
              color: #fff;
              line-height: 39px;
            }
          }
        }
        h4 {
          padding-top: 5px;
          line-height: 30px;
          height: 30px;
          overflow: hidden;
          strong {
            font-size: 18px;
            font-weight: normal;
          }
          small {
            padding-right: 10px;
            font-size: 12px;
          }
        }
        p {
          line-height: 24px;
          color: #999;
        }
      }
    }
  }
  .grid-article {
    position: relative;
    width: 100%;
    margin-left: -300px;
    .action {
      position: absolute;
      width: 88px;
      right: 0px;
      top: 0;
      margin: 0;
      border: 1px solid #038ae3;
      background-color: #fff;
      text-align: center;
      &-fixed{
        position: fixed;
        right: 38px;
        top: 360px;
      }
      li {
        line-height: 34px;
        &.complete {
          .link{
            color: #999;
            cursor: default;
          }
          &:hover .link{
            color: #999;
            background: none;
          }
        }

        &:hover .link{
          background-color: #038ae3;
          color: #fff;
        }
        .link{
          position: relative;
          display: inline-block;
          width: 100%;
          height: 100%;
          margin: 0;
          cursor: pointer;
        }
      }
    }
    .items-group2 {
      .not-data {
        line-height: 365px;
        color: #cccccc;
      }
      .td1 {
        @include compute-items-group(300px);
      }
      .td2 {
        @include compute-items-group(110px);
      }
      .td3 {
        @include compute-items-group(90px);
      }
      .td4 {
        @include compute-items-group(50px);
      }
      .td5 {
        @include compute-items-group(120px);
      }
      .td6 {
        @include compute-items-group(130px);
      }
      .td7 {
        @include compute-items-group(130px);
      }
      .td8 {
        @include compute-items-group(140px);
      }
      .trade-order-item2{
        .td1 {
          @include compute-items-group(360px);
        }
        .td2 {
          @include compute-items-group(130px);
        }
        .td3 {
          @include compute-items-group(100px);
        }
        .td4 {
          @include compute-items-group(50px);
        }
        .td5 {
          @include compute-items-group(140px);
        }
        .td6 {
          @include compute-items-group(140px);
        }
        .td7 {
          @include compute-items-group(150px);
        }
      }
      .td {
        float: left;
        line-height: 40px;
        height: 40px;
        background-color: #fff;
        border-bottom: 1px solid #e8e8e8;
      }
      .thead {
        line-height: 40px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #e8e8e8;
      }
      .thead .td {
        font-size: 16px;
        color: #333;
        background-color: #f2f2f2;
      }
      .tbody {
        dt, dd {
          .icon-trash {
            display: none;
          }
          &:hover .icon-trash {
            display: inline-block;
          }
        }
        dd {
          .line {
            display: inline-block;
            vertical-align: middle;
            width: 29px;
            height: 1px;
            background-color: #e8e8e8;
            overflow: hidden;
            margin-right: 21px;
          }
          &:last-child:not(:first-child) > .td1 {
            border-bottom: 1px solid #e8e8e8;
          }
        }
      }
      .tfoot{
        line-height: 40px;
        background-color: #f2f2f2;
        span {
          float: left;
          margin:0 20px 0 10px;
          font-weight: bold;
        }
      }
      .trade-order-item {
        .striped .td {
          background-color: #fafafa;
        }
        .item-name {
          position: relative;
          max-width: 100%;
          font-size: 0;
          .tags {
            display: inline-block;
            vertical-align: middle;
            padding: 0 8px;
            margin-left: 10px;
            line-height: 20px;
            font-size: 12px;
            border: 1px solid #999;
            color: #999;
            border-radius: 4px;
          }
          .title {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            max-width: 70%;
            margin: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #666;
            &-sub {
              min-width: 80%;
            }
          }
        }

        .input-price {
          padding: 14px 8px;
        }
        .link {
          display: inline-block;
          padding: 1px 9px;
          font-size: 12px;
          line-height: 18px;
          vertical-align: middle;
          color: #038ae3;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: #038ae3;
          }
        }
      }
      .package-wrap {
        display: inline-block;
        vertical-align: middle;
      }
      .package-items {
        font-size: 0;
        padding: 0 11px 0 32px;
        span {
          font-size: 16px;
        }
        .icon-remove {
          vertical-align: top;
          font-size: 14px;
          margin-left: 40px;
        }
      }
      .package-popover {
        position: relative;
        .popover {
          display: block;
          top: 40px;
          max-width: 350px;
          &.bottom > .arrow {
            left: 57px;
          }
        }
        li {
          padding: 0 17px;
          text-align: left;
          line-height: 34px;
          color: #333;
          cursor: pointer;
          &:hover {
            background-color: #f2f2f2;
          }
        }
        .popover-inner {
          width: 328px;
          padding-bottom: 10px;
        }
      }

    }
    .details {
      padding-left: 320px;
      padding-right: 109px;
      .schedule {
        position: relative;
        max-width: 800px;
        height: 97px;
        margin: 0 auto;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 11px;
          width: 100%;
          height: 2px;
          background-color: #999;
        }
        ul {
          padding: 0 26px;
          position: relative;
          z-index: 1;
          text-align: center;
        }
        .step {
          float: left;
          width: 20%;
          &.active .circle {
            background-color: #038ae3;
          }
          dl {
            color: #666;
          }
          &.current dl {
            color: #038ae3;
          }
          .circle {
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            border-radius: 50%;
            background-color: #999;
            color: #fff;
          }
          dt {
            margin-top: 4px;
            font-size: 14px;
            line-height: 24px;
          }
          dd {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
      > div {
        margin-bottom: 9px;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        &.details-footer {
          padding: 0;
        }
        &.details-body {
          padding: 30px 20px 20px;
        }
        &.details-header {
          position: relative;
          min-height: 93px;
          padding: 10px 20px;
        }
      }
      .number {
        width: 45%;
        padding-top: 5px;
        p {
          margin-bottom: 4px;
          font-size: 15px;
          line-height: 24px;
          color: #666;
          span {
            color: #333;
            &.tags {
              display: inline-block;
              line-height: 22px;
              padding: 0 9px;
              margin-right: 10px;
              border: 1px solid #999;
              color: #999;
              border-radius: 4px;
              font-size: 12px;
              &-done {
                color: #09bb07;
                border-color: #09bb07;
              }
              &-undone {
                color: #d7292a;
                border-color: #d7292a;
              }
            }
          }
        }
      }
      .price {
        width: 55%;
        height: 100%;
        ul {
          border-right: 1px solid #eee;
          font-size: 12px;
          padding-right: 20px;
          height: 73px;
          padding-top: 9px;
          margin-right: 20px;
          li {
            line-height: 18px;
            vertical-align: middle;
          }
          label {
            float: left;
            color: #999;
          }
          span {
            float: right;
          }
        }
        dl {
          display: inline-block;
          vertical-align: top;
          padding-right: 24px;
          dt {
            padding-top: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #999;
          }
          dd {
            font-size: 24px;
            line-height: 26px;
            color: #ff8f00;
          }
        }
        .payprice {
          position: relative;
          font-size: 0;
          padding-top: 6px;
        }
        .payment {
          display: inline-block;
          vertical-align: top;
          width: 74px;
          height: 60px;
          background: url("../../../assets/images/ordersDetailsPayment.png") no-repeat;
          &-0 {
            background-position: 0 0;
          }
          &-1 {
            background-position: 0 -61px;
          }
          &-5 {
            background-position: 0 -122px;
          }
          &-6 {
            background-position: 0 -244px;
          }
          &-7 {
            background-position: 0 -183px;
          }
        }
      }
      .info {
        padding-top: 22px;
        border-top: 1px solid #eee;
        > div {
          float: left;
          width: 50%;
          &.order {
            width: 38%;
            > div {
              padding-right: 8px;
              &.motor {
                min-height: 90px;
                margin-bottom: 20px;
                dt {
                  width: 61px;
                }
                dd {
                  width: calc(100% - 61px);
                }
                .notget {
                  color: #999;
                }
                .fault {
                  position: relative;
                  float: left;
                  padding: 0 8px;
                  color: #d7292a;
                  &:first-child {
                    padding-left: 0;
                  }
                  & + .fault:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -7px;
                    height: 14px;
                    border-left: 1px solid #cccccc;
                  }
                }
              }
            }
            h3 {
              font-size: 20px;
              color: #333;
              line-height: 30px;
              margin: 0;
            }
            p {
              line-height: 18px;
              color: #666;
            }
          }
        }
        dl {
          width: 100%;
          line-height: 28px;
        }
        dt {
          float: left;
          width: 78px;
          color: #333;
        }
        dd {
          float: left;
          color: #666;
          width: calc(100% - 78px);
        }
      }
    }
  }
  .grid-footer {
    padding: 18px 20px 44px;
  }
  .grid-stats{
    width: 350px;
    p{
      line-height: 26px;
      strong{
        margin-right: 5px;
        font-weight: normal;
      }
      label{
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .grid-loading{
    height: 300px;
    line-height: 300px;
    text-align: center;
    .loading{
      display: inline-block;
      vertical-align: middle;
      width: 180px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
      > span{
        position: relative;
        top: -2px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        i{
          position: absolute;
          left: 0;
          top: 0;
          font-size: 20px;
          animation: rotate 1s infinite;
        }
      }
    }
  }
  .grid-nodata{
    height: 300px;
    line-height: 300px;
    text-align: center;
    > span{
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
      color: #ccc;
      i{
        margin-right: 10px;
      }
    }
  }
}

.simple-table {
  font-size: 14px;
  overflow: hidden;
  position: relative;
  &.table-scroll-position-left .table-fixed-left, &.table-scroll-position-right .table-fixed-right {
    box-shadow: none;
  }
  .table-footer{
    line-height: 38px;
    background-color: #f2f2f2;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  thead {
    tr {
      line-height: 38px;
      background-color: #f2f2f2;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
  }
  tbody{
    tr.hover,tr:hover{
      background-color: #fafafa;
    }
  }
  .table-scroll {
    overflow: auto;
    overflow-x: hidden;
  }
  .table-fixed-left, .table-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: box-shadow .3s ease;
    border-radius: 0;
    background-color: #fff;
  }
  .table-body {
    transition: opacity .3s ease;
  }
  .table-fixed-left {
    left: 0;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, .2);
  }
  .table-fixed-right {
    right: 0;
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .2);
  }
}


/*

快速新增服务弹窗样式  2017/08/23   by  yigeng
--------start
*/

.import-item {
  width: 88px;
  height: 34px;
  margin-left: 20px;
  line-height: 34px;
  text-align: center;
  border:1px solid #1d9ed7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  color: #1d9ed7;
  cursor: pointer;
  &:hover {
    background-color: #edf6fb;
  }
}
.viewFramework-fast-add-server-dialog {
  .modal-body {
    position: relative;
    padding: 30px 5px 15px 5px;
    .has-error , .has-wrong {
      border-color: #e71e28;
      -webkit-box-shadow: 0 0 2px rgba(231, 30, 40, .5) ;
      -moz-box-shadow: 0 0 2px rgba(231, 30, 40, .5);
      box-shadow: 0 0 5px rgba(231, 30, 40, .5);
      .value {
        border-color: #e71e28;
      }
    }
    form {
      .input-w-180 {
        width: 180px;
      }
      .input-w-360 {
        width: 360px;
      }
      .event-title {
        min-width: 90px;
        text-align: right;
        margin-right: 10px;
        color: #333;
        line-height: 34px;
      }
      .event-content {
        .text-danger {
          line-height: 34px;
          margin-left: 10px;
        }
      }
      .is-disable {
        background-color: #f0f0f0;
        cursor: not-allowed;
      }
    }
    .tips {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 5;
      line-height: 20px;
      padding: 5px 5px 5px 5px;
      font-size: 12px;
      color: #666;
      border: 1px solid #e8e8b0;
      background-color: #f6f6e0;
      border-radius: 6px;
    }
    .server-drop-select {
      position: absolute;
      top: 35px;
      width:100%;
      background-color: #fff;
      border:1px solid #1d9ed7;
      max-height: 200px;
      overflow-y: auto;
      z-index: 10;
      -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0 ,.15);
      -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0 ,.15);
      box-shadow: 2px 2px 8px rgba(0, 0, 0 ,.15);
      ul {
        li {
          line-height: 34px;
          padding: 0 15px;
          cursor: pointer;
          &:hover {
            background-color: #038AE3;
          }
        }
      }
    }
  }
}

/*
------  end
*/


.viewFramework-product-add-dialog {
  width: 600px;
  margin: 0 auto;

  .modal-body {
    padding: 15px 5px 15px 15px;

  }

  .control-label {
    margin-left: -43px;
  }
  .control-content {
    width: 360px;
  }

  .form-section {
    margin-top: 18px;

    &:first-child {
      margin-top: 12px;
    }
  }

  .product-cate { // 商品类目
    width: 175px;
    &.product-cate2 {
      margin-left: 10px;
    }
  }

  .pull-down { // 商品品牌下拉框
    position: relative;

    &-list {
      position: absolute;
      border: 1px solid #CCCCCC;
      width: 100%;
      background: #ffffff;
      height: 165px;
      overflow-y: scroll;
      top: 39px;
      z-index: 10;

      &.is-hide {
        display: none;
      }

      li {
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #038ae3;
          color: #ffffff;
        }
      }
    }

  }

  .tips-wrapper {
    position: relative;
    font-size: 12px;

    .tips {
      position: absolute;
      right: 2px;
      top: -8px;
      color: #666;
      border: 1px solid #e8e8b0;
      border-radius: 4px;
      background-color: #f6f6e0;
      padding: 5px 10px;
    }
    .remove-tip {
      cursor: pointer;

      &:hover {
        color: #e71e28;
      }
    }
  }

  .m-product-unit { // 商品单位

    .units-list {
      left: 93px;
      padding: 3px 4px;
      width: 360px;
    }
    .unit-item {
      padding-left: 0;
      padding-right: 16px;
      font-size: 12px;

      &:first-child {
        padding-left: 16px;
      }
    }
  }

  input.is-disable {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }



  .input-brand,
  .input-product,
  .input-price,
  .input-manual,
  .input-unit {
    border-color: #e71e28;
    box-shadow: 0 0 5px rgba(231, 30, 40, 0.5);
  }

}