.viewFramework-vehicle-selection{
  .list{
    float: left;
    width: 20%;

  }
  .list .items{
    height: 200px;
    overflow-y: auto;
    .open{
      background-color: #ccc;
      color: #fff;
    }
  }
  .tags{
    display: inline-block;
    vertical-align: middle;
    background-color: #ccc;
    margin:0 10px 10px 0;
    white-space:nowrap;
    padding: 5px 10px;
    .close{
      margin-left: 10px;
    }
  }
  .list-unstyled {
    max-width: 300px;

    li {
      line-height: 22px;
    }

  }
}

