<div class="w-remark">
    <div class="w-remark-note"><i class="w-icon-note" ng-click="config.toggleRemark()" ng-class="{'icon-doc-empty': config.emptyRemark == true , 'icon-doc-fill': config.emptyRemark == false, 'text-link': config.emptyRemark == false}"></i></div>
    <div class="w-remark-content f-cb" ng-show="config.isRemarkShow">
        <div class="w-remark-input f-fl">
            <input type="text" class="input-control" ng-model="config.remarkContent" cb-string-range value-max="20" placeholder="请输入备注">
        </div>
        <i class="w-remark-btn w-remark-confirm icon-ok-circle f-fl" ng-click="config.confirm(config.remarkContent)"></i>
        <i class="w-remark-btn w-remark-cancel icon-remove-circle f-fl" ng-click="config.cancel()"></i>
    </div>
</div>